<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/detalleEquipo.css" />
    <title>REDNOR - Detalle del Equipo <%= equipo.numero_serie %></title>
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <!-- MAIN -->
    <main class="main-container">
      <!-- ASIDE -->
      <%- include('../partials/aside.ejs') %>
      <!-- FIN ASIDE -->

      <!-- CONTENIDO -->
      <section class="main-content">
        <div class="equipo-container">
            <h3>Datos del Equipo</h3>
            <div>
              <p><span>Marca: </span><%= equipo.marca %></p>
              <p><span>Modelo: </span><%= equipo.modelo %></p>
              <p><span>Numero de Serie: </span><%= equipo.numero_serie %></p>
              <p><span>Precio: </span>$<%= equipo.precio %></p>
              <p><span>Minimo de copias: </span><%= equipo.minimo_copias %></p>
              <p><span>Precio por copias: </span><%= equipo.precio_copias %></p>
              <p><span>Fecha de Reajuste: </span><%= equipo.fecha_reajuste %></p>
              <p>
                <span>Informes: </span>
                <ul>
                  <li><a href="#">10/01/2023</a></li>
                  <li><a href="#">28/12/2023</a></li>
                  <li><a href="#">15/02/2024</a></li>
                </ul>
              </p>
              <p>
                <span>Estado: </span>
                <% if (equipo.id_estado == 2) { %>
                 <a href="/alquileres/detalles/<%= alquiler.id %>"><%= equipo.estado.nombre %></a>
                <% } else { %>
                  <%= equipo.estado.nombre %>
                <% } %>
              </p>
            </div>
            <% if (equipo.id_estado == 1) { %>
              <div class="enviar-taller">
                <a href="/taller/ingreso/<%= equipo.id %>">Enviar al Taller</a>
              </div>
            <% } %>
        </div>
      </section>
      <!-- FIN CONTENIDO -->
    </main>
    <!-- FIN MAIN -->
  </body>
</html>
