<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/AdminLTEHead.ejs') %>
    <!-- <link rel="stylesheet" href="/css/detalleEquipo.css" /> -->
    <title>REDNOR - Detalle del Equipo <%= equipo.numero_serie %></title>
  </head>
  <body class="hold-transition sidebar-mini">
    <div class="wrapper">
      <!-- Navbar -->
      <%- include('../partials/navbar.ejs') %>
    
      <!-- Main Sidebar -->
      <%- include('../partials/mainSidebar.ejs') %>
  
      <!-- Control Sidebar -->
       <%- include('../partials/controlSidebar.ejs') %>
      <!-- MAIN -->
      <main class="content-wrapper">
        <section class="content pt-4">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-8 m-auto">
                <div class="card">
                  <!-- Header -->
                  <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                      <div>
                        <h3 class="card-title">Informacion del Equipo</h3>
                      </div>

                      <div class="dropdown">
                        <a href="#" class=" btn btn-outline-secondary btn-sm dropdown-toggle" data-toggle="dropdown">Mas opciones </a>
                        <div class="dropdown-menu dropdown-menu-right">
  
                          <!-- <a href="#" class="dropdown-item">Nuevo Contrato</a> -->
                          <!-- Taller -->
                          <a href="/taller/ingreso/<%= equipo.id %>" class="dropdown-item">Enviar al Taller</a>
  
                          <!-- Editar -->
                          <a href="/equipos/editar/<%= equipo.id %>" class="dropdown-item">Editar Informacion</a>
                          
                          <!-- Divisor -->
                          <div class="dropdown-divider"></div>
  
                          <!-- Eliminar -->
                          <a class="dropdown-item btn" data-toggle="modal" data-target="#modal-eliminar">
                            Eliminar Equipo
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Body -->
                  <div class="card-body">
                    <dl>
                      <dt>Marca</dt>
                      <dd><%= equipo.marca %></dd>

                      <dt>Modelo</dt>
                      <dd><%= equipo.modelo %></dd>

                      <dt>Numero de Serie</dt>
                      <dd><%= equipo.numero_serie %></dd>

                      <dt>Tipo</dt>
                      <dd><%= equipo.tipo.nombre %></dd>

                      <dt>Estado</dt>
                      <dd class="h5">
                        <span class="badge <%= 
                            equipo.id_estado == 1 ? "badge-success" : 
                            equipo.id_estado == 2 ? "badge-success" :
                            equipo.id_estado == 3 ? "badge-info" :
                            equipo.id_estado == 4 ? "badge-warning" :
                            equipo.id_estado == 5 ? "badge-danger" : "badge-info"
                          %>">

                          <% if (equipo.id_estado == 3) { %>
                            <a href="/alquileres/detalles/<%= alquiler.id %>" class="text-white"><%= equipo.estado.nombre.toUpperCase() %> <i class="fas fa-external-link-alt"></i></a>
                          <% } else if (equipo.id_estado == 4) { %>
                            <a href="/taller/detalle/<%= taller.id %>" class="text-dark"><%= equipo.estado.nombre.toUpperCase() %> <i class="fas fa-external-link-alt"></i></a>
                          <% } else { %>
                            <%= equipo.estado.nombre.toUpperCase() %>
                          <% } %>
                        </span>
                      </dd>

                      <% if (equipo.id_estado == 4) { %>
                        <% if (alquiler !== null) { %>
                            <dt>Alquiler</dt>
                            <dd>
                              <a href="/alquileres/detalles/<%= alquiler.id %>">
                                <%= alquiler.cliente.nombre %> - <%= alquiler.departamento %>
                              </a>
                            </dd>
                       <% } %>
                      <% } %>

                      <dt>Informes Taller</dt>
                      <dd>
                        <ul class="list-unstyled" id="historial-taller">
                          <!-- Listado de Ingresos al Taller -->
                        </ul>
                      </dd>
                      
                    </dl>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Modal Detalle Taller -->
          <div class="modal fade" id="modal-taller">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="modal-title-taller">Informacion del Taller</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

                <div class="modal-body">
                  <!-- Informacion de Ingreso, Informes, Informes de Insumos y Egresos -->
                </div>

                <div class="modal-footer justify-content-between">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
              </div>
            </div>
          </div>

          <!-- Modal Eliminar Equipo -->
          <div class="modal fade" id="modal-eliminar">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Eliminar Equipo</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>¿Estas seguro que deseas eliminar este equipo?</p>
                </div>
                <form action="/equipos/eliminar/<%= equipo.id %>?_method=DELETE" method="post">
                  <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger float-right">Eliminar</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>
      </main>
      <!-- FIN MAIN -->
    </div>

    <%- include('../partials/AdminLTEScripts.ejs') %>
    <!-- Script Fetch Historial -->
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const idEquipo = "<%= equipo.id %>";

        async function fetchHistorialTaller (id) {
          try {
            const response = await fetch(`/equipos/detalle/${id}/historial-taller`);
            const data = await response.json();

            if (data.length > 0) {
              mostrarHistorialTaller(data);
            } else {
              const ulHistorial = document.getElementById("historial-taller");
              ulHistorial.innerHTML = "<li>No hay historial de ingresos al taller</li>";
            }
          } catch (error) {
            console.error(error)
          }
        };
        
        function mostrarHistorialTaller (historial) {
          const ulHistorial = document.getElementById("historial-taller");

          // Limpiar lista
          ulHistorial.innerHTML = "";

          historial.forEach(ingreso => {
            const li = document.createElement("li");
            li.classList.add("mb-2");
            li.classList.add("liHistorial");
            li.innerHTML = `
              <a href="#" data-id="${ingreso.id}" class="unstyled linkHistorial">
                <i>${new Date(ingreso.fecha_ingreso).toLocaleDateString()} - </i>
                <i>Motivo: ${ingreso.motivo} (id: ${ingreso.id})</i>
              </a>
            `;
            ulHistorial.appendChild(li);
          });

          // Capturar los links
          const linksHistorial = document.querySelectorAll(".linkHistorial");

          // Recorrer el array de links
          linksHistorial.forEach(link => {
            // Agregar el evento click a cada link
            link.addEventListener("click", (e) => {
              // Prevenir el comportamiento por defecto
              e.preventDefault()

              // Capturar el id
              const id = link.dataset.id;

              fetchDetalleHistorial(id);
              
            })
          })
          
        }

        fetchHistorialTaller(idEquipo);

        // Funcion para traer el Detalle de un Historial del Taller (Ingresos, Informes, Insumos y Egresos)
        const fetchDetalleHistorial = async (idIngreso) => {
          try {
            const response = await fetch(`/equipos/detalle-taller/${idIngreso}`);
            const data = await response.json();

            console.log(data);

            mostrarModalDetalleHistorial(data);

          } catch (error) {
            console.error(error.message);
          }
        }

        function mostrarModalDetalleHistorial (data) {
          // Capturar el modal
          const modal = document.getElementById("modal-taller");

          // Mostrar el modal
          $(modal).modal("show");

          // Modal Title
          const modalTitleTaller = document.getElementById("modal-title-taller");

          // Limpiar el contenido del titulo
          modalTitleTaller.textContent = "";

          const spanTitleTaller = document.createElement("span");
          spanTitleTaller.textContent = `Informacion del Taller`;

          modalTitleTaller.appendChild(spanTitleTaller);

          // Link para ir a la pagina del Taller
          const aLinkDetalleTaller = document.createElement("a");
          aLinkDetalleTaller.className = "text-sm text-bold ml-2";
          aLinkDetalleTaller.textContent = "Ir a la pagina del Taller";
          aLinkDetalleTaller.href = `/taller/detalle/${data.ingreso.id}`;

          // Icono
          const iconExternalLink = document.createElement("i");
          iconExternalLink.classList.add("fas", "fa-external-link-alt", "ml-1");
          aLinkDetalleTaller.appendChild(iconExternalLink);

          // Agregar el link para ir a la pagina del Taller al titulo del Modal
          modalTitleTaller.appendChild(aLinkDetalleTaller);

          // Capturar el cuerpo del modal
          const modalBody = modal.querySelector(".modal-body");

          // Limpiar el cuerpo del modal
          modalBody.innerHTML = "";

          // Mostrar la informacion del Ingreso
          const cardIngreso = document.createElement("div");
          cardIngreso.classList.add("card");

          const cardBodyIngreso = document.createElement("div");
          cardBodyIngreso.classList.add("card-body");

          // Crear un elemento dl para mostrar la informacion de Ingreso
          const dlIngreso = document.createElement("dl");
          dlIngreso.classList.add("mb-3");

          if (data.ingreso.usuario != null) {
            dlIngreso.innerHTML += `
              <dt>Usuario</dt>
              <dd>${data.ingreso.usuario?.nombre} ${data.ingreso.usuario?.apellido}</dd>
            `
          }
          
          dlIngreso.innerHTML += `
            <dt>Fecha de Ingreso</dt>
            <dd>${new Date(data.ingreso.fecha_ingreso).toLocaleString("es-ES", {
              year: "numeric",
              month: "numeric",
              day: "numeric",
              hour: "numeric",
              minute: "numeric",
            })}</dd>

            <dt>Estado</dt>
            <dd>${data.ingreso.estado.nombre}</dd>

            <dt>Motivo</dt>
            <dd>${data.ingreso.motivo}</dd>

            <dt>Detalle</dt>
            <dd>${data.ingreso.detalle}</dd>
          `;

          cardBodyIngreso.appendChild(dlIngreso);
          cardIngreso.appendChild(cardBodyIngreso);

          // Agregar el elemento p al cuerpo del modal
          modalBody.appendChild(cardIngreso);

          // Mostrar la informacion de los Informes e Insumos
          if (data.combinedData.length > 0) {
            const divRow = document.createElement("div");
            divRow.classList.add("row");
            modalBody.appendChild(divRow);

            const divCol = document.createElement("div");
            divCol.classList.add("col");
            divRow.appendChild(divCol);

            const divTimeline = document.createElement("div");
            divTimeline.classList.add("timeline");
            divCol.appendChild(divTimeline);

            divTimeline.innerHTML = `
              <div class="time-label">
                <span class="bg-red">${new Date(data.ingreso.fecha_ingreso).toLocaleDateString()}</span>  
              </div>
            `;

            data.combinedData.forEach(item => {
              // Si el item es un informe
              if (item.type === "informe") {
                const divInforme = document.createElement("div");
                divInforme.classList.add("time-label");

                divInforme.innerHTML = `
                  <i class="fas fa-file-alt bg-yellow"></i>
                  <div class="timeline-item">
                    <span class="time"><i class="fas fa-clock"></i> ${new Date(item.fecha).toLocaleString("es-ES", {
                      year: "numeric",
                      month: "numeric",
                      day: "numeric",
                      hour: "numeric",
                      minute: "numeric",
                    })}</span>
                    <h3 class="timeline-header"><a href="#">${item.nombre_usuario}</a> hizo un informe</h3>
                    <div class="timeline-body">
                      <p>${item.detalle}</p>
                    </div>
                  </div>
                `;

                divTimeline.appendChild(divInforme);
              } else {
                // Si el item es un insumo
                const divInsumo = document.createElement("div");
                divInsumo.classList.add("time-label");

                divInsumo.innerHTML = `
                  <i class="fas fa-file-alt bg-green"></i>
                  <div class="timeline-item">
                    <span class="time"><i class="fas fa-clock"></i> ${new Date(item.fecha).toLocaleString("es-ES", {
                      year: "numeric",
                      month: "numeric",
                      day: "numeric",
                      hour: "numeric",
                      minute: "numeric",
                    })}</span>
                    <h3 class="timeline-header"><a href="#">${item.nombre_usuario}</a> entrega de insumos</h3>
                    <div class="timeline-body">
                      <p>${item.observacion}</p>
                    </div>
                    <div class="timeline-footer">
                      <p class="text-info">Nro de Remito: ${item.nro_remito}</p>
                    </div>
                  </div>
                `;

                divTimeline.appendChild(divInsumo);
              }
            })
          }

          if (data.egreso) {
            // Mostrar la Informacion del Egreso
            const cardEgreso = document.createElement("div");
            cardEgreso.classList.add("card");
  
            const cardBodyEgreso = document.createElement("div");
            cardBodyEgreso.classList.add("card-body");
  
            // Crear un elemento dl para mostrar la informacion de Egreso
            const dlEgreso = document.createElement("dl");
            dlEgreso.classList.add("mb-3");
            
            if (data.egreso.usuario != null) {
              dlEgreso.innerHTML += `
                <dt>Usuario</dt>
                <dd>${data.egreso.usuario.nombre} ${data.egreso.usuario.apellido}</dd>
              `
            }

            dlEgreso.innerHTML += `
              <dt>Fecha de Egreso</dt>
              <dd>${new Date(data.egreso.fecha_egreso).toLocaleString("es-ES", {
                year: "numeric",
                month: "numeric",
                day: "numeric",
                hour: "numeric",
                minute: "numeric",
              })}</dd>
  
              <dt>Detalles de la Reparacion</dt>
              <dd>${data.egreso.detalle}</dd>
            `;

            if (data.egreso.observacion) {
              dlEgreso.innerHTML += `
                <dt>Observaciones</dt>
                <dd>${data.egreso.observacion}</dd>
              `;
            }
  
            // Campos opcionales
            if (data.egreso.forma_pago) {
              dlEgreso.innerHTML += `
                <dt>Forma de Pago</dt>
                <dd>${data.egreso.forma_pago}</dd>
              `;
            }
  
            if (data.egreso.precio) {
              dlEgreso.innerHTML += `
                <dt>Precio</dt>
                <dd>$${data.egreso.precio}</dd>
              `;
            }
  
            if (data.egreso.fecha_cobro) {
              dlEgreso.innerHTML += `
                <dt>Fecha de Cobro</dt>
                <dd>${new Date(data.egreso.fecha_cobro).toLocaleString("es-ES", {
                  year: "numeric",
                  month: "numeric",
                  day: "numeric",
                  hour:"numeric",
                  minute: "numeric",
                })}</dd>
              `;
            }
  
            cardBodyEgreso.appendChild(dlEgreso);
            cardEgreso.appendChild(cardBodyEgreso);
  
            // Agregar el elemento al cuerpo del modal
            modalBody.appendChild(cardEgreso);
            
          }

        }
      })
    </script>
  </body>
</html>
