<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/AdminLTEHead.ejs') %>
    <link rel="stylesheet" href="/css/detalleEquipo.css" />
    <title>REDNOR - Detalle del Equipo <%= equipo.numero_serie %></title>
  </head>
  <body class="hold-transition sidebar-mini">
    <div class="wrapper">
      <!-- Navbar -->
      <%- include('../partials/navbar.ejs') %>
    
      <!-- Main Sidebar -->
      <%- include('../partials/mainSidebar.ejs') %>
  
      <!-- Control Sidebar -->
       <%- include('../partials/controlSidebar.ejs') %>
      <!-- MAIN -->
      <main class="content-wrapper">
        <section class="content pt-4">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-8 m-auto">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Informacion del Equipo</h3>
                    <div class="dropdown float-right">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown"></a>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a href="#" class="dropdown-item">Nuevo Contrato</a>
                        <% if (equipo.id_estado == 1) { %>
                          <a href="/taller/ingreso/<%= equipo.id %>" class="dropdown-item">Enviar al Taller</a>
                        <% } %>
                        <div class="dropdown-divider"></div>
                        <a href="/equipos/editar/<%= equipo.id %>" class="dropdown-item">Editar Informacion</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item btn" data-toggle="modal" data-target="#modal-eliminar">
                          Eliminar Equipo
                        </a>
                      </div>
  
                    </div>
                  </div>
                  <div class="card-body">
                    <dl>
                      <dt>Marca</dt>
                      <dd><%= equipo.marca %></dd>

                      <dt>Modelo</dt>
                      <dd><%= equipo.modelo %></dd>

                      <dt>Numero de Serie</dt>
                      <dd><%= equipo.numero_serie %></dd>

                      <dt>Tipo</dt>
                      <dd><%= equipo.tipo.nombre %></dd>

                      <dt>Estado</dt>
                      <dd>
                        <% if (equipo.id_estado == 3) { %>
                          <a href="/alquileres/detalles/<%= alquiler.id %>"><%= equipo.estado.nombre %> <i class="fas fa-external-link-alt"></i></a>
                        <% } else if (equipo.id_estado == 4) { %>
                          <a href="/taller/detalle/<%= taller.id %>"><%= equipo.estado.nombre %> <i class="fas fa-external-link-alt"></i></a>
                        <% } else { %>
                          <%= equipo.estado.nombre %>
                        <% } %>
                      </dd>

                      <dt>Informes Taller</dt>
                      <dd>
                        <ul class="list-unstyled">
                          <% historial.forEach(ingreso => { %>
                            <li class="mb-2">
                              <a href="/taller/detalle/<%= ingreso.id %>" class="unstyled">
                                <i>
                                  <%= ingreso.fecha_ingreso.toLocaleDateString() %> - 
                                </i>
                                <i>
                                  Motivo: <%= ingreso.motivo %>
                                </i>
                              </a>
                            </li>
                          <% }) %>
                        </ul>
                      </dd>
                      
                    </dl>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Modal Eliminar Equipo -->
          <div class="modal fade" id="modal-eliminar">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Eliminar Equipo</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>¿Estas seguro que deseas eliminar este equipo?</p>
                </div>
                <form action="/equipos/eliminar/<%= equipo.id %>?_method=DELETE" method="post">
                  <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger float-right">Eliminar</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>
      </main>
      <!-- FIN MAIN -->
    </div>

    <%- include('../partials/AdminLTEScripts.ejs') %>
  </body>
</html>
