<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/AdminLTEHead.ejs') %>
  <link rel="stylesheet" href="/css/formulario.css" />
  <title>REDNOR - EDITAR</title>
</head>
<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <!-- Navbar -->
    <%- include('../partials/navbar.ejs') %>
  
    <!-- Main Sidebar -->
    <%- include('../partials/mainSidebar.ejs') %>

    <!-- Control Sidebar -->
    <%- include('../partials/controlSidebar.ejs') %>
    <!-- MAIN -->
    <main class="content-wrapper">
      <section class="content pt-3">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8 m-auto">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Editar Equipo</h3>
                </div>
                <div class="card-body">
                  <form action="/equipos/editar/<%= equipo.id %>?_method=PUT" method="post">
                    <h4>Datos del equipo</h4>
                    <div class="form-group">
                      <label for="marca">Marca</label>
                      <select name="marca" id="marca" class="form-control">
                        <option value="" selected disabled hidden>
                          Elegir una opcion
                        </option>
                        <% marcas.forEach(marca => { %>
                        <option value="<%= marca.nombre %>" <%= equipo.marca == marca.nombre ? "selected" : "" %>><%= marca.nombre %></option>
                        <% }) %>
                      </select>
                      <% if (locals.errors && errors.marca) { %>
                        <p class="feedback-errors"><%= errors.marca.msg %></p>
                      <% } %>
                    </div>
          
                    <div class="form-group">
                      <label for="modelo">Modelo</label>
                      <input 
                        type="text" 
                        name="modelo" 
                        id="modelo" 
                        class="form-control"
                          value="<%= locals.old && old.modelo ? old.modelo : equipo.modelo %>"/>
                      <% if (locals.errors && errors.modelo) { %>
                        <p class="feedback-errors"><%= errors.modelo.msg %></p>
                      <% } %>
                    </div>
          
                    <div class="form-group">
                      <label for="numero_serie">Numero de Serie</label>
                      <input 
                        type="text" 
                        name="numero_serie" 
                        id="numero_serie" 
                        class="form-control"
                        value="<%= locals.old && old.numero_serie ? old.numero_serie : equipo.numero_serie %>"/>
                      <% if (locals.errors && errors.numero_serie) { %>
                        <p class="feedback-errors"><%= errors.numero_serie.msg %></p>
                      <% } %>
                    </div>
          
                    <div class="form-group">
                      <label for="id_tipo_equipo">Tipo de Equipo</label>
                      <select name="id_tipo_equipo" id="id_tipo_equipo" class="form-control">
                        <option value="" selected disabled hidden>
                          Elegir una opcion
                        </option>
                        <% tipos.forEach(tipo => { %>
                        <option value="<%= tipo.id %>" <%= equipo.id_tipo_equipo == tipo.id ? "selected" : "" %>><%= tipo.nombre %></option>
                        <% }) %>
                      </select>
                      <% if (locals.errors && errors.id_tipo_equipo) { %>
                        <p class="feedback-errors"><%= errors.id_tipo_equipo.msg %></p>
                      <% } %>
                    </div>

                    <div class="form-group">
                      <label for="id_firma">Firma</label>
                      <select name="id_firma" id="id_firma" class="form-control">
                        <option value="" selected disabled hidden>Seleccione una firma</option>
                        <% firmas.forEach(firma => { %>
                          <option value="<%= firma.id %>"><%= firma.nombre %></option>
                        <% }) %>
                      </select>
                    </div>

                    <input type="submit" value="Editar" class="btn btn-block btn-primary" />

                    <a href="/equipos/detalle/<%= equipo.id %>" class="btn btn-block btn-outline-secondary mt-3">Volver Atras</a>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- FIN MAIN -->
  </div>
  <%- include('../partials/AdminLTEScripts.ejs') %>
</body>
</html>
