<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/AdminLTEHead.ejs') %>
    <link rel="stylesheet" href="/css/tables.css">
    <link rel="stylesheet" href="/css/equipos.css">
    <script src="/js/equipos.js"></script>
    <title>REDNOR - Listado de Equipos</title>
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        <%- include('../partials/navbar.ejs') %>
      
        <!-- Main Sidebar -->
        <%- include('../partials/mainSidebar.ejs') %>
    
        <!-- Control Sidebar -->
         <%- include('../partials/controlSidebar.ejs') %>
        <!-- MAIN -->
        <main class="content-wrapper">
            <!-- CONTENIDO -->
            <section class="main-content">
                <div class="title">
                    <h1>Listado de Equipos</h1>
                </div>
    
                <div class="panel-control">
                    <input type="text" class="search-input" placeholder="Buscar por numero de serie...">
                    <a href="/equipos/crear">+ CREAR</a>
                </div>
    
                <div class="table-container">
                    <table>
                        <thead>
                            <tr>
                                <th>Marca</th>
                                <th>Modelo</th>
                                <th>Serie</th>
                                <th>Tipo</th>
                                <th>Estado</th>
                                <th>Detalles</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% equipos.forEach(equipo => { %>
                                <tr>
                                    <td><%= equipo.marca %></td>
                                    <td><%= equipo.modelo %></td>
                                    <td><%= equipo.numero_serie %></td>
                                    <td><%= equipo.tipo.nombre %></td>
                                    <td><%= equipo.estado.nombre %></td>
                                    <td><a href="/equipos/detalle/<%= equipo.id %>">Ver más</a></td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
                
            </section>
        </main>
    </div>
    
    <%- include('../partials/AdminLTEScripts.ejs') %>
</body>
</html>