<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/registerForm.css" />
    <title>REDNOR - Registrar nuevo Equipo</title>
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <!-- MAIN -->
    <main class="main-container">
      <!-- ASIDE -->
      <%- include('../partials/aside.ejs') %>
      <!-- FIN ASIDE -->

      <!-- CONTENIDO -->
      <section class="main-content">
        <h1>REGISTRAR EQUIPO</h1>
        <div class="form-register-container">
          <form action="/equipos/crear" method="post">
            <h4>Datos del equipo</h4>
            <div>
              <label for="numero_serie">Numero de Serie</label>
              <input 
                type="text" 
                name="numero_serie" 
                id="numero_serie" 
                value="<%= locals.old && old.numero_serie ? old.numero_serie : "" %>"/>
              <% if (locals.errors && errors.numero_serie) { %>
               <p class="feedback-errors"><%= errors.numero_serie.msg %></p>
              <% } %>
            </div>

            <div>
              <label for="id_marca">Marca</label>
              <select name="id_marca" id="id_marca">
                <option value="" selected disabled hidden>
                  Elegir una opcion
                </option>
                <% marcas.forEach(marca => { %>
                <option value="<%= marca.id %>"><%= marca.nombre %></option>
                <% }) %>
              </select>
              <% if (locals.errors && errors.id_marca) { %>
               <p class="feedback-errors"><%= errors.id_marca.msg %></p>
              <% } %>
            </div>

            <div>
              <label for="modelo">Modelo</label>
              <input 
                type="text" 
                name="modelo" 
                id="modelo" 
                  value="<%= locals.old && old.modelo ? old.modelo : "" %>"/>
              <% if (locals.errors && errors.modelo) { %>
               <p class="feedback-errors"><%= errors.modelo.msg %></p>
              <% } %>
            </div>

            <div>
              <label for="precio">Precio</label>
              <input 
                type="number" 
                name="precio" 
                id="precio" 
                step="0.01" value="<%= locals.old && old.precio ? old.precio : "" %>"/>
              <% if (locals.errors && errors.precio) { %>
               <p class="feedback-errors"><%= errors.precio.msg %></p>
              <% } %>
            </div>

            <div>
              <label for="minimo_copias">Minimo de copias</label>
              <input 
                type="number" 
                name="minimo_copias" 
                id="minimo_copias" 
                value="<%= locals.old && old.minimo_copias ? old.minimo_copias: "" %>"/>
              <% if (locals.errors && errors.minimo_copias) { %>
               <p class="feedback-errors"><%= errors.minimo_copias.msg %></p>
              <% } %>
            </div>

            <div>
              <label for="precio_copias">Precio por copias</label>
              <input
                type="number"
                name="precio_copias"
                id="precio_copias"
                step="0.01"
                value="<%= locals.old && old.precio_copias ? old.precio_copias : "" %>"
              />
              <% if (locals.errors && errors.precio_copias) { %>
               <p class="feedback-errors"><%= errors.precio_copias.msg %></p>
              <% } %>
            </div>

            <div>
              <label for="id_estado">Estado</label>
              <select name="id_estado" id="id_estado">
                <option value="" selected disabled hidden>
                  Elegir una opcion
                </option>
                <% estados.forEach(estado => { %>
                <option value="<%= estado.id %>"><%= estado.nombre %></option>
                <% }) %>
              </select>
              <% if (locals.errors && errors.id_estado) { %>
               <p class="feedback-errors"><%= errors.id_estado.msg %></p>
              <% } %>
            </div>

            <div>
              <label for="fecha_reajuste">Fecha de reajuste</label>
              <input 
                type="date" 
                name="fecha_reajuste" 
                id="fecha_reajuste" 
              />
              <% if (locals.errors && errors.fecha_reajuste) { %>
                <p class="feedback-errors"><%= errors.fecha_reajuste.msg %></p>
               <% } %>
            </div>
            <br />
            <input type="submit" />
          </form>
        </div>
      </section>
      <!-- FIN CONTENIDO -->
    </main>
    <!-- FIN MAIN -->
  </body>
</html>
