<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/formulario.css" />
    <title>REDNOR - Registrar nuevo Equipo</title>
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <!-- MAIN -->
    <main class="main-container">
      <!-- ASIDE -->
      <%- include('../partials/aside.ejs') %>
      <!-- FIN ASIDE -->

      <!-- CONTENIDO -->
      <section class="main-content">
        <h1>REGISTRAR EQUIPO</h1>
        <div class="form-container">
          <form action="/equipos/crear" method="post">
            <h4>Datos del equipo</h4>
            <div>
              <label for="marca">Marca</label>
              <select name="marca" id="marca">
                <option value="" selected disabled hidden>
                  Elegir una opcion
                </option>
                <% marcas.forEach(marca => { %>
                <option value="<%= marca.nombre %>"><%= marca.nombre %></option>
                <% }) %>
              </select>
              <% if (locals.errors && errors.marca) { %>
               <p class="feedback-errors"><%= errors.marca.msg %></p>
              <% } %>
            </div>

            <div>
              <label for="modelo">Modelo</label>
              <input 
                type="text" 
                name="modelo" 
                id="modelo" 
                  value="<%= locals.old && old.modelo ? old.modelo : "" %>"/>
              <% if (locals.errors && errors.modelo) { %>
               <p class="feedback-errors"><%= errors.modelo.msg %></p>
              <% } %>
            </div>

            <div>
              <label for="numero_serie">Numero de Serie</label>
              <input 
                type="text" 
                name="numero_serie" 
                id="numero_serie" 
                value="<%= locals.old && old.numero_serie ? old.numero_serie : "" %>"/>
              <% if (locals.errors && errors.numero_serie) { %>
               <p class="feedback-errors"><%= errors.numero_serie.msg %></p>
              <% } %>
            </div>

            <div>
              <label for="id_tipo_equipo">Tipo de Equipo</label>
              <select name="id_tipo_equipo" id="id_tipo_equipo">
                <option value="" selected disabled hidden>
                  Elegir una opcion
                </option>
                <% tipos.forEach(tipo => { %>
                <option value="<%= tipo.id %>"><%= tipo.nombre %></option>
                <% }) %>
              </select>
              <% if (locals.errors && errors.id_tipo_equipo) { %>
               <p class="feedback-errors"><%= errors.id_tipo_equipo.msg %></p>
              <% } %>
            </div>

            <br />
            <input type="submit" />
          </form>
        </div>
      </section>
      <!-- FIN CONTENIDO -->
    </main>
    <!-- FIN MAIN -->
  </body>
</html>
