<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/AdminLTEHead.ejs') %>
    <link rel="stylesheet" href="/css/detalleEquipo.css" />
    <title>REDNOR - Detalle del Equipo Externo <%= equipoExterno.numero_serie %></title>
  </head>
  <body class="hold-transition sidebar-mini">
    <div class="wrapper">
      <!-- Navbar -->
      <%- include('../partials/navbar.ejs') %>
    
      <!-- Main Sidebar -->
      <%- include('../partials/mainSidebar.ejs') %>
  
      <!-- Control Sidebar -->
       <%- include('../partials/controlSidebar.ejs') %>
      <!-- MAIN -->
      <main class="content-wrapper">
        <section class="content pt-4">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-8 m-auto">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Informacion del Equipo</h3>
                    <div class="dropdown float-right">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown"></a>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a href="/equipos-externos/<%= equipoExterno.id %>/editar" class="dropdown-item">Editar Informacion</a>
                        <a class="dropdown-item btn disabled" data-toggle="modal" data-target="#modal-eliminar">
                          Eliminar Equipo
                        </a>
                      </div>
  
                    </div>
                  </div>
                  <div class="card-body">
                    <dl>
                      <dt>Marca</dt>
                      <dd><%= equipoExterno.marca %></dd>

                      <dt>Modelo</dt>
                      <dd><%= equipoExterno.modelo %></dd>

                      <dt>Numero de Serie</dt>
                      <dd><%= equipoExterno.numero_serie %></dd>

                      <dt>Tipo</dt>
                      <dd><%= equipoExterno.tipo.nombre %></dd>

                      <dt>Informes Taller</dt>
                      <% if (equipoExterno.ingreso.length > 0) { %>
                        <dd>
                          <ul class="list-unstyled">
                            <% let historial = equipoExterno.ingreso %>
                            <% historial.forEach(ingreso => { %>
                              <li class="mb-2">
                                <a href="/taller/externos/detalle/<%= ingreso.id %>" target="_blank" class="unstyled">
                                  <i>
                                    <%= ingreso.fecha_ingreso.toLocaleDateString() %> - 
                                  </i>
                                  <i>
                                    Motivo: <%= ingreso.motivo %>
                                  </i>
                                </a>
                              </li>
                            <% }) %>
                          </ul>
                        </dd>
                      <% } %>
                      
                    </dl>
                  </div>
                </div>
                <div>
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex justify-content-center">
                        <a href="/equipos-externos" class="btn btn-outline-info">Ver listado completo de equipos externos</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Modal Eliminar Equipo -->
          <div class="modal fade" id="modal-eliminar">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Eliminar Equipo</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>¿Estas seguro que deseas eliminar este equipo?</p>
                </div>
                <form action="/equipos/eliminar/<%# equipo.id %>?_method=DELETE" method="post">
                  <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger float-right">Eliminar</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>
      </main>
      <!-- FIN MAIN -->
    </div>

    <%- include('../partials/AdminLTEScripts.ejs') %>
  </body>
</html>
