<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/AdminLTEHead.ejs') %>
    <link rel="stylesheet" href="/css/tables.css" />
    <link rel="stylesheet" href="/css/clientes.css" />
    <script src="/js/clientes.js"></script>
    <title>REDNOR - Listado de Clientes</title>
  </head>
  <body class="hold-transition sidebar-mini">
    <div class="wrapper">
      <!-- Navbar -->
      <%- include('../partials/navbar.ejs') %>
  
      <!-- Main Sidebar -->
      <%- include('../partials/mainSidebar.ejs') %>
  
      <!-- Control Sidebar -->
       <%- include('../partials/controlSidebar.ejs') %>
       
  
      <!-- MAIN -->
      <main class="content-wrapper">
        <!-- CONTENIDO -->
        <section class="main-content">
          <div class="title">
            <h1>Listado de Clientes</h1>
          </div>
  
          <div class="panel-control">
            <input
              type="text"
              class="search-input"
              placeholder="Buscar por nombre..."
            />
            <a href="/clientes/crear">+ CREAR</a>
          </div>
  
          <div class="table-container">
            <table>
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Nombre</th>
                  <th>Tipo</th>
                  <th>Email</th>
                  <th>Detalles</th>
                </tr>
              </thead>
              <tbody>
                <% clientes.forEach(cliente => { %>
                <tr>
                  <td><%= cliente.id %></td>
                  <td><%= cliente.nombre %></td>
                  <td><%= cliente.tipo.nombre %></td>
                  <td><%= cliente.email %></td>
                  <td><a href='/clientes/detalle/<%= cliente.id %>'>Ver más</a></td>
                </tr>
                <% }); %>
              </tbody>
            </table>
          </div>
        </section>
      </main>

    </div>
    <%- include('../partials/AdminLTEScripts.ejs') %>
  </body>
</html>
