<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/AdminLTEHead.ejs') %>
  <%- include('../partials/AdminLTEHeadTables.ejs') %>
  <!-- <link rel="stylesheet" href="/css/tables.css" /> -->
  <!-- <link rel="stylesheet" href="/css/detalleCliente.css" /> -->
  <title>REDNOR - <%= cliente.nombre %></title>
</head>
<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <!-- Navbar -->
    <%- include('../partials/navbar.ejs') %>

    <!-- Main Sidebar -->
    <%- include('../partials/mainSidebar.ejs') %>

    <!-- Control Sidebar -->
    <%- include('../partials/controlSidebar.ejs') %>

    <!-- CONTENIDO -->
    <main class="content-wrapper">
      <section class="content pt-4">
        <div class="container-fluid m-auto">
          <div class="row">
            <div class="col-md-4">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Informacion del Cliente</h3>
                  <div class="dropdown float-right">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"></a>
                    <div class="dropdown-menu dropdown-menu-right">
                      <a href="/habilitados/crear?cliente=<%= cliente.id %>" class="dropdown-item">Agregar Habilitado</a>
                      <a href="/alquileres/crear?cliente=<%= cliente.id %>" class="dropdown-item">Nuevo Contrato</a>
                      <div class="dropdown-divider"></div>
                      <a href="/clientes/editar/<%= cliente.id %>" class="dropdown-item">Editar Informacion</a>
                    </div>

                  </div>
                </div>
                <div class="card-body">
                  <dl>
                    <!-- Nombre y Apellido -->
                    <dt>Nombre</dt>
                    <dd><%= cliente.nombre %></dd>

                    <dt>Razon Social</dt>
                    <dd><%= cliente.razon_social ? cliente.razon_social : "-" %></dd>

                    <dt>Domicilio Comercial</dt>
                    <dd><%= cliente.domicilio_comercial ? cliente.domicilio_comercial : "-" %></dd>

                    <!-- Email -->
                    <dt>Email</dt>
                    <dd>
                      <a href="mailto:<%= cliente.email %>"><%= cliente.email ? cliente.email : "-" %></a>
                    </dd>

                    <!-- Telefono -->
                    <dt>Telefono</dt>
                    <dd><%= cliente.telefono ? cliente.telefono : "-" %></dd>

                    <!-- Ciudad -->
                    <dt>Ciudad</dt>
                    <dd><%= cliente.ciudad ? cliente.ciudad : "-" %></dd>

                    <!-- Direccion -->
                    <dt>Direccion</dt>
                    <dd><%= cliente.direccion ? cliente.direccion : "-" %></dd>

                    <!-- Tipo de Cliente -->
                    <dt>Tipo</dt>
                    <dd><%= cliente.tipo ? cliente.tipo.nombre : "-" %></dd>

                    <!-- CUIT -->
                    <dt>CUIT</dt>
                    <dd><%= cliente.cuit ? cliente.cuit : "-" %></dd>

                    <dt>Condicion AFIP</dt>
                    <dd><%= cliente.condicion_afip ? cliente.condicion_afip : "-" %></dd>

                    <!-- Inscripcion AFIP -->
                    <% if (cliente.inscripcion_afip) { %>
                      <dt class="mt-3">
                        <a href="/docs/inscripciones/<%= cliente.inscripcion_afip %>"  target="_blank">
                          • Inscripcion AFIP
                        </a>
                        <a href="#" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#modal-eliminar-inscripcion-afip">Eliminar</a>
                      </dt>
                    <% } else { %>
                      <dt class="mt-3">
                        <a href="#" class="" data-toggle="modal" data-target="#modal-inscripcion-afip">
                          + Agregar Inscripcion AFIP
                        </a>
                      </dt>
                    <% } %>

                    <!-- Formulario 005 -->
                    <% if (cliente.formulario_005) { %>
                     <dt class="mt-3">
                      <a href="/docs/formulario005/<%= cliente.formulario_005 %>" target="_blank">
                        • Formulario 005
                      </a>
                      <a href="#" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#modal-eliminar-formulario-005">Eliminar</a>
                     </dt>
                    <% } else { %>
                      <dt class="mt-3">
                        <a href="#" class="" data-toggle="modal" data-target="#modal-formulario-005">
                          + Agregar Formulario 005
                        </a>
                      </dt>
                    <% } %>
                  </dl>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Contratos</h3>
                  <a href="/alquileres/crear?cliente=<%= cliente.id %>" class="btn btn-outline-primary btn-sm float-right">Nuevo Contrato</a>
                </div>
                <div class="card-body">
                  <table id="alquileres" class="table table-bordered table-hover">
                    <thead>
                      <tr>
                        <th>Cliente</th>
                        <th>Departamento</th>
                        <th>Equipo</th>
                        <th>Firma</th>
                        <th>Precio</th>
                        <th>Detalles</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% alquileres.forEach(alquiler => { %>
                      <tr>
                        <td><%= alquiler.cliente.nombre %></td>
                        <td><%= alquiler.departamento %></td>
                        <td><%= alquiler.equipo.marca %> <%= alquiler.equipo.modelo %> <%= alquiler.equipo.numero_serie %></td>
                        <td><%= alquiler.firma %></td>
                        <td>$<%= alquiler.precio %></td>
                        <td>
                          <a href="/alquileres/detalles/<%= alquiler.id %>">
                            Detalles
                          </a>
                        </td>
                      </tr>
                      <% }); %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <% if (habilitados.length != 0) { %>
          <div class="row">
            <div class="col-md-4">
              <div class="card card-primary card-outline card-outline-tabs">
                <div class="card-header p-0 border-bottom 0">
                    <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
                        <% habilitados.forEach((habilitado, index) => { %>
                            <li class="nav-item">
                                <a class="nav-link <%= index === 0 ? 'active' : '' %>" id="custom-tabs-<%= index %>-tab" data-toggle="pill" href="#custom-tabs-<%= index %>" role="tab" aria-controls="custom-tabs-<%= index %>" aria-selected="<%= index === 0 ? 'true' : 'false' %>"><%= habilitado.nombre %></a>
                            </li>
                        <% }) %>
                    </ul>
                </div>
                <div class="card-body">
                  <div class="tab-content" id="custom-tabs-four-tabContent">
                  <% habilitados.forEach((habilitado, index) => { %>
                    <div class="tab-pane fade <%= index === 0 ? 'show active' : '' %>" id="custom-tabs-<%= index %>" role="tabpanel" aria-labelledby="custom-tabs-<%= index %>-tab">
                      <!-- Nombre de la Persona Habilitada -->
                      <dt>Nombre</dt>
                      <dd><%= habilitado.nombre %></dd>

                      <!-- Telefono de la Persona Habilitada -->
                      <dt>Telefono</dt>
                      <dd><%= habilitado.telefono %></dd>

                      <!-- Email de la Persona Habilitada -->
                      <dt>Email</dt>
                      <dd>
                        <a href="mailto:<%= habilitado.email %>"><%= habilitado.email %></a>
                      </dd>

                      <!-- Puesto de la Persona Habilitada -->
                      <dt>Puesto</dt>
                      <dd><%= habilitado.puesto %></dd>

                      <!-- Ubicacion de la Persona Habilitada -->
                      <dt>Ubicacion</dt>
                      <dd><%= habilitado.ubicacion %></dd>

                      <a href="/habilitados/editar/<%= habilitado.id %>" class="btn btn-primary btn-sm">Editar Info</a>
                    </div>
                  <% }) %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% } %>
        </div>
      </section>
    </main>

    <!-- Modal para subir archivo Inscripcion AFIP -->
    <div class="modal fade" id="modal-inscripcion-afip">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Inscripcion AFIP</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form action="/clientes/detalle/<%= cliente.id %>/subir-inscripcion-afip" method="post" enctype="multipart/form-data">
            <div class="modal-body">

              <div class="form-group">
                <label for="inscripcion_afip">File input</label>
                <div class="input-group">
                  <div class="custom-file">
                    <input type="file" name="inscripcion_afip" class="custom-file-input" id="inscripcion_afip">
                    <label class="custom-file-label" for="inscripcion_afip">Choose file</label>
                  </div>
                  <!-- <div class="input-group-append">
                    <span class="input-group-text">Upload</span>
                  </div> -->
                </div>
              </div>

            </div>


            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-primary">Subir Archivo</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Modal para subir archivo Formulario 005 -->
    <div class="modal fade" id="modal-formulario-005">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Formulario 005</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form action="/clientes/detalle/<%= cliente.id %>/subir-formulario-005" method="post" enctype="multipart/form-data">
            <div class="modal-body">

              <div class="form-group">
                <label for="formulario_005">File input</label>
                <div class="input-group">
                  <div class="custom-file">
                    <input type="file" name="formulario_005" class="custom-file-input" id="formulario_005">
                    <label class="custom-file-label" for="formulario_005">Choose file</label>
                  </div>
                  <!-- <div class="input-group-append">
                    <span class="input-group-text">Upload</span>
                  </div> -->
                </div>
              </div>

            </div>


            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-primary">Subir Archivo</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Modal para eliminar el archivo Inscripcion AFIP -->
    <div class="modal fade" id="modal-eliminar-inscripcion-afip">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Eliminar Inscripcion AFIP</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form action="/clientes/detalle/<%= cliente.id %>/eliminar-inscripcion-afip?_method=DELETE" method="post">
            <div class="modal-body">
              <p>
                ¿Estas seguro que deseas eliminar el archivo?
                <a href="/docs/inscripciones/<%= cliente.inscripcion_afip %>"><%= cliente.inscripcion_afip %></a>
              </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-danger">Aceptar</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Modal para eliminar el archivo Formulario 005 -->
    <div class="modal fade" id="modal-eliminar-formulario-005">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Eliminar Formulario 005</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form action="/clientes/detalle/<%= cliente.id %>/eliminar-formulario-005?_method=DELETE" method="post">
            <div class="modal-body">
              <p>
                ¿Estas seguro que deseas eliminar el archivo?
                <a href="/docs/formulario005/<%= cliente.formulario_005 %>" target="_blank"><%= cliente.formulario_005 %></a>
              </p>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-danger">Aceptar</button>
            </div>
          </form>
        </div>
    </div>
  </div>

  <%- include('../partials/AdminLTEScripts.ejs') %>
  <%- include('../partials/AdminLTEScriptsTables.ejs') %>
  <script src="/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
  <script>
    $(function () {
      bsCustomFileInput.init();
    });
  </script>
  <script>
    $(function () {
      $("#alquileres").DataTable({
        "responsive": true, "lengthChange": false, "autoWidth": false,
        "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
      }).buttons().container().appendTo('#alquileres_wrapper .col-md-6:eq(0)');
    });
  </script>
</body>
</html>
