<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/AdminLTEHead.ejs') %>
  <!-- <link rel="stylesheet" href="/css/formulario.css" /> -->
  <script src="/js/registroCliente.js"></script>
  <title>REDNOR -  Editar cliente</title>
</head>
<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <!-- Navbar -->
    <%- include('../partials/navbar.ejs') %>
  
    <!-- Main Sidebar -->
    <%- include('../partials/mainSidebar.ejs') %>

    <!-- Control Sidebar -->
    <%- include('../partials/controlSidebar.ejs') %>

    <!-- MAIN -->
    <main class="content-wrapper">
      <section class="content pt-3">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8 m-auto">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Editar Cliente</h3>
                </div>
                <div class="card-body">
                  <form action="/clientes/editar/<%= cliente.id %>?_method=PUT" method="post" enctype="multipart/form-data">
                    <h4>Datos personales</h4>
                    <div class="form-group">
                      <label for="nombre">Nombre</label>
                      <input type="text" name="nombre" id="nombre" class="form-control" value="<%= locals.errors && errors.nombre ? "" : (locals.old && old.nombre ? old.nombre : cliente.nombre) %>" /> 
                      <% if (locals.errors && errors.nombre) { %>
                      <p class="text-danger"><%= errors.nombre.msg %></p>
                      <% } %>
                    </div>
          
                    <div class="form-group">
                      <label for="id_tipo_cliente">Tipo</label>
                      <select name="id_tipo_cliente" id="id_tipo_cliente" class="form-control">
                        <option value="" disabled selected hidden>
                          Selecciona un tipo
                        </option>
                        <% tipos.forEach(tipo => { %>
                        <option value="<%= tipo.id %>" <%= cliente.id_tipo_cliente == tipo.id ? "selected" : "" %>>
                          <%= tipo.nombre %>
                        </option>
                        <% }) %>
                      </select>
                      <% if (locals.errors && errors.id_tipo) { %>
                      <p class="text-danger"><%= errors.id_tipo.msg %></p>
                      <% } %>
                    </div>

                    <h4>Datos de contacto</h4>
          
                    <div class="form-group">
                      <label for="email">Email</label>
                      <input type="email" name="email" id="email" class="form-control" value="<%= locals.errors && errors.email ? "" : (locals.old && old.email ? old.email : cliente.email) %>" />
                      <% if (locals.errors && errors.email) { %>
                        <p class="text-danger"><%= errors.email.msg %></p>
                      <% } %>
                    </div>
          
                    <div class="form-group">
                      <label for="telefono">Telefono</label>
                      <input type="number" name="telefono" id="telefono" class="form-control" value="<%= locals.errors && errors.telefono ? "" : (locals.old && old.telefono ? old.telefono : cliente.telefono) %>" />
                      <% if(locals.errors && errors.telefono) { %>
                        <p class="text-danger"><%= errors.telefono.msg %></p>
                      <% } %>
                    </div>
          
                    <div class="form-group">
                      <label for="ciudad">Ciudad</label>
                      <input type="text" name="ciudad" id="ciudad" class="form-control" value="<%= locals.errors && errors.ciudad ? "" : (locals.old && old.ciudad ? old.ciudad : cliente.ciudad) %>" />
                      <% if (locals.errors && errors.ciudad) { %>
                        <p class="text-danger"><%= errors.ciudad.msg %></p>
                      <% } %>
                    </div>
          
                    <div class="form-group">
                      <label for="direccion">Direccion</label>
                      <input type="text" name="direccion" id="direccion" class="form-control" value="<%= locals.errors && errors.direccion ? "" : (locals.old && old.direccion ? old.direccion : cliente.direccion) %>" />
                      <% if(locals.errors && errors.direccion) { %>
                        <p class="text-danger"><%= errors.direccion.msg %></p>
                      <% } %>
                    </div>
          
                    <div class="form-group">
                      <label for="cuit">CUIT (Sin guiones)</label>
                      <input type="text" name="cuit" id="cuit" class="form-control" value="<%= locals.errors && errors.cuit ? "" : (locals.old && old.cuit ? old.cuit : cliente.cuit) %>">
                      <% if (locals.errors && errors.cuit) { %>
                        <p class="text-danger"><%= errors.cuit.msg %></p>
                      <% } %>
                    </div>
                    
                    <div class="form-group">
                      <label for="inscripcion_afip">Inscripcion AFIP</label>
                      <div class="input-group">
                        <label for="inscripcion_afip" class="custom-file-label">Subir Archivo</label>
                        <input type="file" name="inscripcion_afip" id="inscripcion_afip" class="custom-file-input">
                      </div>
                    </div>
          
                    <div class="form-group"> 
                      <label for="formulario_005">Formulario 005</label>
                      <div class="input-group">
                        <label for="formulario_005" class="custom-file-label">Subir Archivo</label>
                        <input type="file" name="formulario_005" id="formulario_005" class="custom-file-input">
                      </div>
                    </div>

                    <!-- Boton Enviar -->
                    <input type="submit" class="btn btn-primary w-100" />
                    <br>
                    <!-- Boton Volver Atras -->
                    <a href="/clientes/detalle/<%= cliente.id %>" class="btn btn-outline-danger w-50 mt-3 align-self-center">Volver Atras</a>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>
  <!-- FIN MAIN -->
  <%- include('../partials/AdminLTEScripts.ejs') %>
    
</body>
</html>
