<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/AdminLTEHead.ejs') %>
  <!-- <link rel="stylesheet" href="/css/formulario.css" /> -->
  <script src="/js/cuit.js"></script>
  <!-- <script src="/js/registroCliente.js"></script> -->
  <title>REDNOR -  Editar Cliente</title>
</head>
<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <!-- Navbar -->
    <%- include('../partials/navbar.ejs') %>
  
    <!-- Main Sidebar -->
    <%- include('../partials/mainSidebar.ejs') %>

    <!-- Control Sidebar -->
    <%- include('../partials/controlSidebar.ejs') %>

    <!-- MAIN -->
    <main class="content-wrapper">
      <section class="content pt-3">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8 m-auto">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Editar Cliente</h3>
                </div>
                <div class="card-body">
                  <form action="/clientes/editar/<%= cliente.id %>?_method=PUT" method="post" enctype="multipart/form-data">
                    <h4>Datos personales</h4>
                    <div class="form-group">
                      <label for="nombre">Nombre</label>
                      <input type="text" name="nombre" id="nombre" class="form-control" value="<%= locals.errors && errors.nombre ? "" : (locals.old && old.nombre ? old.nombre : cliente.nombre) %>" /> 
                      <% if (locals.errors && errors.nombre) { %>
                      <p class="text-danger"><%= errors.nombre.msg %></p>
                      <% } %>
                    </div>

                    <div class="form-group">
                      <label for="razon_social">Razon Social</label>
                      <input type="text" name="razon_social" id="razon_social" class="form-control" value="<%= locals.errors && errors.razon_social ? "" : (locals.old && old.razon_social ? old.razon_social : cliente.razon_social) %>">
                      <% if (locals.errors && errors.razon_social) { %>
                       <p class="text-danger"><%= errors.razon_social.msg %></p>
                      <% } %>
                    </div>

                    <div class="form-group">
                      <label for="domicilio_comercial">Domicilio Comercial</label>
                      <input type="text" name="domicilio_comercial" id="domicilio_comercial" class="form-control" value="<%= locals.errors && errors.domicilio_comercial ? "" : (locals.old && old.domicilio_comercial ? old.domicilio_comercial : cliente.domicilio_comercial) %>">
                      <% if (locals.errors && errors.domicilio_comercial) { %>
                       <p class="text-danger"><%= errors.domicilio_comercial.msg %></p>
                      <% } %>
                    </div>
          
                    <div class="form-group">
                      <label for="id_tipo_cliente">Tipo</label>
                      <select name="id_tipo_cliente" id="id_tipo_cliente" class="form-control">
                        <option value="" disabled selected hidden>
                          Selecciona un tipo
                        </option>
                        <% tipos.forEach(tipo => { %>
                        <option value="<%= tipo.id %>" <%= cliente.id_tipo_cliente == tipo.id ? "selected" : "" %>>
                          <%= tipo.nombre %>
                        </option>
                        <% }) %>
                      </select>
                      <% if (locals.errors && errors.id_tipo) { %>
                      <p class="text-danger"><%= errors.id_tipo.msg %></p>
                      <% } %>
                    </div>

                    <h4>Datos de contacto</h4>
          
                    <div class="form-group">
                      <label for="email">Email</label>
                      <input type="email" name="email" id="email" class="form-control" value="<%= locals.errors && errors.email ? "" : (locals.old && old.email ? old.email : cliente.email) %>" />
                      <% if (locals.errors && errors.email) { %>
                        <p class="text-danger"><%= errors.email.msg %></p>
                      <% } %>
                    </div>
          
                    <div class="form-group">
                      <label for="telefono">Telefono</label>
                      <input type="number" name="telefono" id="telefono" class="form-control" value="<%= locals.errors && errors.telefono ? "" : (locals.old && old.telefono ? old.telefono : cliente.telefono) %>" />
                      <% if(locals.errors && errors.telefono) { %>
                        <p class="text-danger"><%= errors.telefono.msg %></p>
                      <% } %>
                    </div>
          
                    <div class="form-group">
                      <label for="ciudad">Ciudad</label>
                      <input type="text" name="ciudad" id="ciudad" class="form-control" value="<%= locals.errors && errors.ciudad ? "" : (locals.old && old.ciudad ? old.ciudad : cliente.ciudad) %>" />
                      <% if (locals.errors && errors.ciudad) { %>
                        <p class="text-danger"><%= errors.ciudad.msg %></p>
                      <% } %>
                    </div>
          
                    <div class="form-group">
                      <label for="direccion">Direccion</label>
                      <input type="text" name="direccion" id="direccion" class="form-control" value="<%= locals.errors && errors.direccion ? "" : (locals.old && old.direccion ? old.direccion : cliente.direccion) %>" />
                      <% if(locals.errors && errors.direccion) { %>
                        <p class="text-danger"><%= errors.direccion.msg %></p>
                      <% } %>
                    </div>
          
                    <div class="form-group">
                      <label for="cuit">Numero de Documento</label>

                      <div class="row">
                        <select name="DocTipo" id="DocTipo" class="form-control col-3">
                          <option value="" selected hidden disabled>Selecciona una opcion</option>
                          <option value="80" <%= cliente.DocTipo == "80" ? "selected" : "" %>>CUIT</option>
                          <option value="86" <%= cliente.DocTipo == "86" ? "selected" : "" %>>CUIL</option>
                          <option value="96" <%= cliente.DocTipo == "96" ? "selected" : ""  %>>DNI</option>
                        </select>

                        <input type="text" name="DocNro" id="DocNro" class="form-control col-9" value="<%= cliente.DocNro %>">
                      </div>
                      <% if (locals.errors && errors.cuit) { %>
                       <p class="text-danger"><%= errors.cuit.msg %></p>
                      <% } %>
                    </div>

                    <div class="form-group">
                      <label for="id_firma">Firma</label>
                      <select name="id_firma" id="id_firma" class="form-control">
                        <option value="" selected disabled hidden>Seleccione una firma</option>
                        <% firmas.forEach(firma => { %>
                          <option value="<%= firma.id %>" <%= cliente.id_firma == firma.id ? "selected" : "" %> %>><%= firma.nombre %></option>
                        <% }) %>
                      </select>
                    </div>

                    <div class="form-group">
                      <label for="condicion_afip">Condicion AFIP</label>
                      <select name="condicion_afip" id="condicion" class="form-control">
                        <option value="" selected disabled hidden>Elegir una opcion...</option>
                        <option value="Consumidor Final" <%= cliente.condicion_afip == "Consumidor Final" ? "selected" : ""  %>>Consumidor Final</option>
                        <option value="Monotributo" <%= cliente.condicion_afip == "Monotributo" ? "selected" : "" %>>Monotributo</option>
                        <option value="Responsable Inscripto" <%= cliente.condicion_afip == "Responsable Inscripto" ? "selected" :  "" %>>Responsable Inscripto</option>
                        <option value="IVA Sujeto Exento" <%= cliente.condicion_afip == "IVA Sujeto Exento" ? "selected" : "" %> >IVA Sujeto Exento</option>
                      </select>
                    </div>
                    
                    <div class="form-group">
                      <label for="inscripcion_afip">Inscripcion AFIP</label>
                      <div class="input-group">
                        <label for="inscripcion_afip" class="custom-file-label">Subir Archivo</label>
                        <input type="file" name="inscripcion_afip" id="inscripcion_afip" class="custom-file-input">
                      </div>
                    </div>
          
                    <div class="form-group"> 
                      <label for="formulario_005">Formulario 005</label>
                      <div class="input-group">
                        <label for="formulario_005" class="custom-file-label">Subir Archivo</label>
                        <input type="file" name="formulario_005" id="formulario_005" class="custom-file-input">
                      </div>
                    </div>

                    <!-- Boton Enviar -->
                    <input type="submit" value="Guardar Cambios" class="btn btn-block btn-primary" />
                    
                    <!-- Boton Eliminar Cliente -->
                    <button type="button" data-toggle="modal" data-target="#modal-eliminar-cliente" class="btn btn-block btn-outline-danger mt-3">Eliminar Cliente</button>

                    <!-- Boton Volver Atras -->
                    <a href="/clientes/detalle/<%= cliente.id %>" class="btn btn-block btn-outline-secondary mt-3">Volver Atras</a>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <div class="modal fade" id="modal-eliminar-cliente">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Eliminar Cliente</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            <p>¿Estas seguro que deseas eliminar este cliente?</p>
          </div>

          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-danger" id="btn-eliminar-cliente-modal">Eliminar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- FIN MAIN -->
  <%- include('../partials/AdminLTEScripts.ejs') %>
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const DocTipo = document.getElementById("DocTipo");
      const DocNro = document.getElementById("DocNro");
      
      // Agregar maximum length al input
      DocNro.maxLength = 13;

      const patterns = {
        80: "xx-xxxxxxxx-x",
        86: "xx-xxxxxxxx-x",
        96: "xxxxxxxx",
      };

      let currentListener = null;

      const applyPattern = (event) => {
        event.target.value = patternMatch({
          input: event.target.value,
          template: patterns[DocTipo.value] || "xxxxxxxx",
        });
      };

      DocTipo.addEventListener("change", (e) => {
        // Remover el listener previo si existe
        if(currentListener) {
          DocNro.removeEventListener("input", currentListener);
        }

        // Asignar el nuevo listener
        currentListener = applyPattern;
        DocNro.addEventListener("input", applyPattern);

        // Limpiar el valor del input y aplicar el patron inicial
        DocNro.value = "";
      })
    })
  </script>

  <!-- Script para eliminar cliente -->
  <script>
    document.addEventListener("DOMContentLoaded", async () => {
      console.log("Script para eliminar cliente");
      // ID del Cliente
      const id = "<%= cliente.id %>";
      console.log("ID del Cliente: ", id);
      
      const eliminarClienteButtonModal = document.getElementById("btn-eliminar-cliente-modal");
      console.log("Button: ", eliminarClienteButtonModal);
      
      eliminarClienteButtonModal.addEventListener("click", async () => {
        try {
          const data = await fetchEliminarCliente(id);
          window.location.href = "/clientes";
        } catch (error) {
          console.log(error);
        }
      })
      
      // Funcion Fetch para eliminar el cliente
      const fetchEliminarCliente = async (id) => {
        try {
          const response = await fetch(`/clientes/eliminar/${id}`, {
            method: "DELETE",
            headers: {
              "Content-Type": "application/json"
            }
          });

          if (!response.ok) {
            throw new Error("Error fetching data");
          }

          return await response.json();
        } catch (error) {
          console.log(error);
        }
      };

      // const data = await fetchEliminarCliente(id);
      // console.log("Cliente: ", data);
    })
  </script>

</body>
</html>
