<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/AdminLTEHead.ejs') %>
    <script src="/js/cuit.js"></script>
    <title>REDNOR - Nuevo Cliente</title>
  </head>
  <body class="hold-transition sidebar-mini">
    <div class="wrapper">
      <!-- Navbar -->
      <%- include('../partials/navbar.ejs') %>
      
      <!-- Main Sidebar -->
      <%- include('../partials/mainSidebar.ejs') %>
  
      <!-- Control Sidebar -->
      <%- include('../partials/controlSidebar.ejs') %>
      
      <!-- Main Content -->
      <main class="content-wrapper">
        <section class="content pt-3">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-8 m-auto">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Nuevo Cliente</h3>
                  </div>
                  <div class="card-body">
                    <form action="/clientes/crear" method="post" enctype="multipart/form-data">
                      <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" name="nombre" id="nombre" class="form-control" value="<%= locals.old && old.nombre ? old.nombre : "" %>" /> 
                        <% if (locals.errors && errors.nombre) { %>
                        <p class="text-danger"><%= errors.nombre.msg %></p>
                        <% } %>
                      </div>

                      <div class="form-group">
                        <label for="razon_social">Razon Social</label>
                        <input type="text" name="razon_social" id="razon_social" class="form-control" value="<%= locals.old && old.razon_social ? old.razon_social : "" %>" />
                        <% if (locals.errors && errors.razon_social) { %>
                          <p class="text-danger"><%= errors.razon_social.msg %></p>
                        <% } %>
                      </div>

                      <div class="form-group">
                        <label for="domicilio_comercial">Domicilio Comercial</label>
                        <input type="text" name="domicilio_comercial" id="domicilio_comercial" class="form-control" value="<%= locals.old && old.domicilio_comercial ? old.domicilio_comercial : "" %>" />
                        <% if (locals.errors && errors.domicilio_comercial) { %>
                          <p class="text-danger"><%= errors.domicilio_comercial.msg %></p>
                        <% } %>
                      </div>
          
                      <div class="form-group">
                        <label for="id_tipo_cliente">Tipo</label>
                        <select name="id_tipo_cliente" id="id_tipo_cliente" class="form-control">
                          <option value="" disabled selected hidden>
                            Selecciona un tipo
                          </option>
                          <% tipos.forEach(tipo => { %>
                          <option value="<%= tipo.id %>"><%= tipo.nombre %></option>
                          <% }) %>
                        </select>
                        <% if (locals.errors && errors.id_tipo_cliente) { %>
                        <p class="text-danger"><%= errors.id_tipo_cliente.msg %></p>
                        <% } %>
                      </div>
          
                      <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" class="form-control" value="<%= locals.old && old.email ? old.email : "" %>" />
                        <% if (locals.errors && errors.email) { %>
                          <p class="text-danger"><%= errors.email.msg %></p>
                        <% } %>
                      </div>
          
                      <div class="form-group">
                        <label for="telefono">Telefono</label>
                        <input type="number" name="telefono" id="telefono" class="form-control" value="<%= locals.old && old.telefono ? old.telefono : "" %>" />
                        <% if(locals.errors && errors.telefono) { %>
                          <p class="text-danger"><%= errors.telefono.msg %></p>
                        <% } %>
                      </div>
          
                      <div class="form-group">
                        <label for="ciudad">Ciudad</label>
                        <input type="text" name="ciudad" id="ciudad" class="form-control" value="<%= locals.old && old.ciudad ? old.ciudad : "" %>" />
                        <% if (locals.errors && errors.ciudad) { %>
                          <p class="text-danger"><%= errors.ciudad.msg %></p>
                        <% } %>
                      </div>
          
                      <div class="form-group">
                        <label for="direccion">Direccion</label>
                        <input type="text" name="direccion" id="direccion" class="form-control" value="<%= locals.old && old.direccion ? old.direccion : "" %>" />
                        <% if(locals.errors && errors.direccion) { %>
                          <p class="text-danger"><%= errors.direccion.msg %></p>
                        <% } %>
                      </div>
          
                      <div class="form-group">
                        <label for="cuit">CUIT (Sin guiones)</label>
                        <input type="text" name="cuit" id="cuit" class="form-control" value="<%= locals.old && old.cuit ? old.cuit : "" %>">
                        <% if (locals.errors && errors.cuit) { %>
                         <p class="text-danger"><%= errors.cuit.msg %></p>
                        <% } %>
                      </div>

                      <div class="form-group">
                        <label for="condicion_afip">Condicion AFIP</label>
                        <select name="condicion_afip" id="condicion" class="form-control">
                          <option value="" selected disabled hidden>Elegir una opcion...</option>
                          <option value="Consumidor Final">Consumidor Final</option>
                          <option value="Monotributo">Monotributo</option>
                          <option value="Responsable Inscripto">Responsable Inscripto</option>
                          <option value="IVA Sujeto Exento">IVA Sujeto Exento</option>
                        </select>
                      </div>
                      
                      <div class="form-group">
                        <label for="inscripcion_afip">Inscripcion AFIP</label>
                        <div class="input-group">
                          <div class="custom-file">
                            <input type="file" name="inscripcion_afip" id="inscripcion_afip" class="custom-file-input">
                            <label for="inscripcion_afip" class="custom-file-label">Seleccionar un archivo...</label>
                          </div>
                        </div>
                      </div>
          
                      <div class="form-group">
                        <label for="formulario_005">Formulario 005</label>
                        <div class="input-group">
                          <div class="custom-file">
                            <input type="file" name="formulario_005" id="formulario_005" class="custom-file-input">
                            <label for="formulario_005" class="custom-file-label">Seleccionar un archivo...</label>
                          </div>
                        </div>
                      </div>

                      <input type="submit" class="btn btn-primary w-100" />
                      <a href="/clientes" class="btn btn-outline-secondary btn-block btn-sm mt-3">Volver Atrás...</a>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- FIN CONTENIDO -->
      </main>
    </div>

    <%- include('../partials/AdminLTEScripts.ejs') %>
    <!-- bs-custom-file-input -->
    <script src="/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
    <script>
      $(function () {
        bsCustomFileInput.init();
      });
    </script>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const cuit = document.getElementById("cuit");

        cuit.addEventListener("input", (event) => {
          event.target.value = patternMatch({
            input: event.target.value,
            template: "xx-xxxxxxxx-x",
          })
        })
      })
    </script>
  </body>
</html>
