<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/formulario.css">
    <title>REDNOR</title>
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <!-- MAIN -->
    <main class="main-container">
      <!-- ASIDE -->
      <%- include('../partials/aside.ejs') %>
      <!-- FIN ASIDE -->

      <!-- CONTENIDO -->
      <section class="main-content">
        <div class="form-container">
          <h1>Registrar persona habilitada al cliente: </h1>
          <p><%= cliente.id %></p>
          <p><%= cliente.nombre %></p>
          <p><%= cliente.email %></p>
          <p><%= cliente.telefono %></p>
          <p><%= cliente.direccion %></p>
          <form action="/clientes/habilitados?cliente=<%= cliente.id %>" method="post">
            <label for="nombre_habilitado">Nombre: </label>
            <input type="text" id="nombre_habilitado">

            <label for="telefono_habilitado">Telefono: </label>
            <input type="number" id="telefono_habilitado">

            <label for="email_habilitado">Email: </label>
            <input type="email" id="email_habilitado">

            <label for="puesto_habilitado">Puesto: </label>
            <input type="text" id="puesto_habilitado">
            
            <label for="ubicacion_habilitado">Ubicacion: </label>
            <input type="text" id="ubicacion_habilitado">
            <br> <br>
            <input type="submit">
          </form>
        </div>
      </section>
      <!-- FIN CONTENIDO -->
    </main>
    <!-- FIN MAIN -->
  </body>
</html>
