<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/AdminLTEHead.ejs') %>
    <link rel="stylesheet" href="/css/formulario.css" />
    <script src="/js/registroCliente.js"></script>
    <title>REDNOR - Registrar nuevo Cliente</title>
  </head>
  <body class="hold-transition sidebar-mini">
    <div class="wrapper">
      <!-- Navbar -->
      <%- include('../partials/navbar.ejs') %>
      
      <!-- Main Sidebar -->
      <%- include('../partials/mainSidebar.ejs') %>
  
      <!-- Control Sidebar -->
      <%- include('../partials/controlSidebar.ejs') %>
  
      <main>
        <!-- CONTENIDO -->
        <section class="content-wrapper">
          <h1>REGISTRAR CLIENTE</h1>
          <div class="form-container">
            <form action="/clientes/crear" method="post" enctype="multipart/form-data">
              <h4>Datos personales</h4>
              <div>
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" id="nombre" value="<%= locals.old && old.nombre ? old.nombre : "" %>" /> 
                <% if (locals.errors && errors.nombre) { %>
                <p class="feedback-errors"><%= errors.nombre.msg %></p>
                <% } %>
              </div>
  
              <div>
                <label for="id_tipo_cliente">Tipo</label>
                <select name="id_tipo_cliente" id="id_tipo_cliente">
                  <option value="" disabled selected hidden>
                    Selecciona un tipo
                  </option>
                  <% tipos.forEach(tipo => { %>
                  <option value="<%= tipo.id %>"><%= tipo.nombre %></option>
                  <% }) %>
                </select>
                <% if (locals.errors && errors.id_tipo_cliente) { %>
                <p class="feedback-errors"><%= errors.id_tipo_cliente.msg %></p>
                <% } %>
              </div>
              
              <br />
              <hr />
  
              <h4>Datos de contacto</h4>
  
              <div>
                <label for="email">Email</label>
                <input type="email" name="email" id="email" value="<%= locals.old && old.email ? old.email : "" %>" />
                <% if (locals.errors && errors.email) { %>
                  <p class="feedback-errors"><%= errors.email.msg %></p>
                <% } %>
              </div>
  
              <div>
                <label for="telefono">Telefono</label>
                <input type="number" name="telefono" id="telefono" value="<%= locals.old && old.telefono ? old.telefono : "" %>" />
                <% if(locals.errors && errors.telefono) { %>
                  <p class="feedback-errors"><%= errors.telefono.msg %></p>
                <% } %>
              </div>
  
              <div>
                <label for="ciudad">Ciudad</label>
                <input type="text" name="ciudad" id="ciudad" value="<%= locals.old && old.ciudad ? old.ciudad : "" %>" />
                <% if (locals.errors && errors.ciudad) { %>
                  <p class="feedback-errors"><%= errors.ciudad.msg %></p>
                <% } %>
              </div>
  
              <div>
                <label for="direccion">Direccion</label>
                <input type="text" name="direccion" id="direccion" value="<%= locals.old && old.direccion ? old.direccion : "" %>" />
                <% if(locals.errors && errors.direccion) { %>
                  <p class="feedback-errors"><%= errors.direccion.msg %></p>
                <% } %>
              </div>
  
              <div>
                <label for="cuit">CUIT (Sin guiones)</label>
                <input type="text" name="cuit" id="cuit" value="<%= locals.old && old.cuit ? old.cuit : "" %>">
                <% if (locals.errors && errors.cuit) { %>
                 <p class="feedback-errors"><%= errors.cuit.msg %></p>
                <% } %>
              </div>
              
              <div>
                <label for="inscripcion_afip">Inscripcion AFIP</label>
                <input type="file" name="inscripcion_afip" id="inscripcion_afip">
              </div>
  
              <div>
                <label for="condicion_afip">Condicion AFIP</label>
                <input type="file" name="condicion_afip" id="condicion_afip">
              </div>
  
              <div>
                <label for="formulario_005">Formulario 005</label>
                <input type="file" name="formulario_005" id="formulario_005">
              </div>
              <br />
              <input type="submit" />
            </form>
          </div>
        </section>
        <!-- FIN CONTENIDO -->
      </main>
    </div>

    <%- include('../partials/AdminLTEScripts.ejs') %>
  </body>
</html>
