<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/AdminLTEHead.ejs') %>
  <title>REDNOR - <%= honorario.nombre %></title>
  <style>
    .flex-gap {
      padding: 1rem;
    }
  </style>
</head>

<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <!-- Navbar -->
    <%- include('../../partials/navbar.ejs') %>

    <!-- Main Sidebar -->
    <%- include('../../partials/mainSidebar.ejs') %>

    <!-- Control Sidebar -->
    <%- include('../../partials/controlSidebar.ejs') %>

    <!-- Main Content -->
    <main class="content-wrapper">
      <section class="content pt-3">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-8 m-auto">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title"><%#  %></h3>
                </div>
                <div class="card-body">
                  <form action="/gastos/honorarios/<%= honorario.id %>/editar?_method=PUT" method="post">

                    <h3 class="lead">Editar Informacion de <%= honorario.nombre %></h3>

                      <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" name="nombre" id="nombre" class="form-control" value="<%= honorario.nombre %>" />
                      </div>

                      <div class="form-group">
                        <label for="descripcion">Descripcion</label>
                        <textarea name="descripcion" id="descripcion" rows="3" class="form-control" autocomplete="on"><%= honorario.descripcion%></textarea>
                      </div>

                      <h3 class="lead" id="condiciones-lead">Condiciones</h3>

                      <div class="form-group">
                        <label for="condiciones">Condiciones</label>
                        <textarea name="condiciones" id="condiciones" rows="3" class="form-control" autocomplete="on"><%= honorario.condiciones %></textarea>
                      </div>

                      <div class="form-group">
                        <label for="dia_vencimiento">Dia de Vencimiento</label>
                        <input type="text" name="dia_vencimiento" id="dia_vencimiento" class="form-control" value="<%= honorario.dia_vencimiento %>">
                      </div>

                      <div class="form-group">
                        <label for="frecuencia ">Frecuencia</label>
                        <select name="frecuencia" id="frecuencia" class="form-control">
                          <option value="" selected hidden disabled>Seleccione una opcion</option>
                          <option value="Único" <%= honorario.frecuencia == "Único" ? "selected" : "" %>>Único</option>
                          <option value="Recurrente" <%= honorario.frecuencia == "Recurrente" ? "selected" : "" %>>Recurrente</option>
                        </select>
                      </div>

                      <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" class="form-control" value="<%= honorario.email %>"/>
                      </div>

                      <div class="form-group">
                        <label for="telefono">Telefono</label>
                        <input type="tel" name="telefono" id="telefono" placeholder="+54 9 385X XX-XXXX" class="form-control" value="<%= honorario.telefono %>">
                      </div>

                      <!-- Boton Enviar -->
                      <input type="submit" value="Actualizar" class="btn btn-block btn-primary" />

                      <!-- Boton Eliminar -->
                      <a href="" type="button" class="btn btn-block btn-danger mt-3" data-toggle="modal" data-target="#modal-eliminar">Eliminar</a>
                      
                      <!-- Boton Volver atras -->
                      <a href="/gastos/honorarios/<%= honorario.id %>/detalles" class="btn btn-block btn-outline-secondary mt-3">Cancelar</a>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
  <!-- FIN CONTENIDO -->
    </main>

    <!-- Modal Eliminar -->
    <div class="modal fade" id="modal-eliminar">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Eliminar <%= honorario.nombre %></h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form action="/gastos/honorarios/<%= honorario.id %>/eliminar?_method=DELETE" method="post">
            <div class="modal-body">
              <p>¿Estas seguro de eliminar este Honorario?</p>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-danger">Eliminar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Fin Modal Eliminar -->
  </div>

  <%- include('../../partials/AdminLTEScripts.ejs') %>
  <!-- bs-custom-file-input -->
  <script src="/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
  <script>
    $(function () {
      bsCustomFileInput.init();
    });
  </script>
</body>
</html>