<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/AdminLTEHead.ejs') %>
  <!-- <script src="/js/cuit.js"></script> -->
  <!-- <script src="/js/registroGastos.js"></script> -->
  <title>Honorarios - Registro</title>
</head>

<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <!-- Navbar -->
    <%- include('../../partials/navbar.ejs') %>

    <!-- Main Sidebar -->
    <%- include('../../partials/mainSidebar.ejs') %>

    <!-- Control Sidebar -->
    <%- include('../../partials/controlSidebar.ejs') %>

    <!-- Main Content -->
    <main class="content-wrapper">
      <section class="content pt-3">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-8 m-auto">
              <div class="card">
                <div class="card-header">
                        <h3 class="card-title">Honorarios</h3>
                </div>
                <div class="card-body">
                  <form action="/gastos/honorarios/crear" method="post">
                      <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" name="nombre" id="nombre" class="form-control" />
                      </div>

                      <div class="form-group">
                        <label for="descripcion">Descripcion</label>
                        <textarea name="descripcion" id="descripcion" rows="3" class="form-control" autocomplete="on"></textarea>
                      </div>

                      <div class="form-group">
                        <label for="condiciones">Condiciones</label>
                        <textarea name="condiciones" id="condiciones" rows="3" class="form-control" autocomplete="on"></textarea>
                      </div>

                      <div class="form-group">
                        <label for="dia_vencimiento">Dia de Vencimiento</label>
                        <input type="text" name="dia_vencimiento" id="dia_vencimiento" class="form-control">
                      </div>

                      <div class="form-group">
                        <label for="frecuencia ">Frecuencia</label>
                        <select name="frecuencia" id="frecuencia" class="form-control">
                          <option value="" selected hidden disabled>Seleccione una opcion</option>
                          <option value="Único">Único</option>
                          <option value="Recurrente">Recurrente</option>
                        </select>
                      </div>

                      <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" class="form-control" />
                      </div>

                      <div class="form-group">
                        <label for="telefono">Telefono</label>
                        <input type="tel" name="telefono" id="telefono" placeholder="" class="form-control">
                      </div>

                      <!-- Boton Enviar -->
                      <input type="submit" class="btn btn-block btn-primary" />

                      <!-- Boton Volver atras -->
                      <a href="/gastos/honorarios" class="btn btn-block btn-outline-secondary mt-3">Volver Atrás...</a>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
  <!-- FIN CONTENIDO -->
    </main>
  </div>

  <%- include('../../partials/AdminLTEScripts.ejs') %>
  <!-- bs-custom-file-input -->
  <script src="/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
  <script>
    $(function () {
      bsCustomFileInput.init();
    });
  </script>
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      let formaPago = document.getElementById("forma_pago");

      const entidadBancaria = document.getElementById("entidad_bancaria");
      const cbu = document.getElementById("cbu");
      const cuitDiv = document.getElementById("cuit");
  
      formaPago.addEventListener("change", function () {
        if (this.value === "2") {
          entidadBancaria.parentNode.style.display = "block";
          cbu.parentNode.style.display = "block";
          cuitDiv.parentNode.style.display = "block"
        } else {
          entidadBancaria.parentNode.style.display = "none";
          cbu.parentNode.style.display = "none";
          cuitDiv.parentNode.style.display = "none";
        }
      })

      const cuit = document.getElementById("cuit");

      cuit.addEventListener("input", (event) => {
        event.target.value = patternMatch({
          input: event.target.value,
          template: "xx-xxxxxxxx-x",
        })
      })
    })
  </script>
  <script>
    
  </script>


</body>

</html>