<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/AdminLTEHead.ejs') %>
  <title>REDNOR - Detalle</title>
</head>

<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <!-- Navbar -->
    <%- include('../../partials/navbar.ejs') %>

    <!-- Main Sidebar -->
    <%- include('../../partials/mainSidebar.ejs') %>

    <!-- Control Sidebar -->
    <%- include('../../partials/controlSidebar.ejs') %>
    <!-- Main -->
    <main class="content-wrapper pb-5">
      <!-- Content Header -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row">
            <div class="col text-center">
              <h1>
                <a href="/equipos-externos/<%= ingreso.equipo.id %>/detalle">
                  <%= ingreso.equipo.marca %>
                  <%= ingreso.equipo.modelo %>
                  <%= ingreso.equipo.numero_serie %>
                </a>
              </h1>
            </div>
          </div>
        </div>
      </section>
      <!-- / Content header -->

      <!-- Content Body -->
      <section class="content mt-2">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8 m-auto">

              <!-- Detalles del Ingreso -->
              <div class="card">
                <div class="card-header">
                  <div class="d-flex justify-content-between">
                    <div class="align-self-center">
                      <h3 class="card-title">Detalles del Ingreso</h3>
                    </div>

                    <div class="dropdown">
                      <a href="#" class="btn btn-sm btn-outline-secondary dropdown-toggle" data-toggle="dropdown">Mas Opciones</a>
                      <div class="dropdown-menu">
                        <!-- Dropdown Menu -->

                        <!-- Si el equipo esta listo para retirar -->
                        <!-- Informar Retiro del Equipo -->
                        <% if (ingreso.id_estado == 3) { %>
                          <a href="#" class="dropdown-item" data-target="#modal-informar-retiro" data-toggle="modal">Informar Retiro</a>
                        <% } %>

                        <!-- Defniri el Precio de la reparacion -->
                        <% if (egreso) { %>
                          <% if (egreso.precio == null) { %>
                            <!-- Definir Precio -->
                            <a href="#" class="dropdown-item" data-toggle="modal" data-target="#modal-definir-precio">Definir Precio</a>
                          <% } else { %>
                            <!-- Informar Cobro -->
                            <a href="#" class="dropdown-item <%= (egreso && egreso.precio == null) ? "disabled" : "" %>" data-toggle="modal" data-target="#modal-cobro">Informar Cobro</a>
                          <% } %>
                          <div class="dropdown-divider"></div>
                        <% } %>

                        
                        <!-- Editar Ingreso -->
                        <a href="/taller/externos/<%= ingreso.id %>/editar" class="dropdown-item">Editar Ingreso</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <dl>
                    <!-- Nombre del Usuario -->
                    <% if (ingreso.usuario != null) { %>
                     <dt>Usuario</dt>
                     <dd><%= ingreso.usuario.nombre %> <%= ingreso.usuario.apellido %></dd>
                    <% } %>

                    <dt>Fecha de Ingreso</dt>
                    <dd>
                      <%= ingreso.fecha_ingreso.toLocaleString("es-AR", {
                        year: "numeric",
                        month: "numeric",
                        day: "numeric",
                        hour: "numeric",
                        minute: "numeric",
                      }) %>
                    </dd>
  
                    <!-- Estado -->
                    <dt>Estado</dt>
                    <dd class="h5">
                      <span class="badge <%=  ingreso.id_estado == 1 ? "badge-info"    : 
                                              ingreso.id_estado == 2 ? "badge-warning" : 
                                              ingreso.id_estado == 3 ? "badge-success" :
                                              ingreso.id_estado == 6 ? "badge-danger"  : "badge-info" %>"
                      >
                        <%= ingreso.estado.nombre.toUpperCase() %>
                      </span>
                    </dd>
  
                    <!-- Motivo del Ingreso -->
                    <dt>Motivo</dt>
                    <dd>
                      <%= ingreso.motivo %>
                    </dd>
  
                    <!-- Descripcion -->
                    <dt>Detalle</dt>
                    <dd>
                      <%= ingreso.detalle %>
                    </dd>
                  </dl>
                  <!-- Fecha de Ingreso -->

                  <!-- Info del Cliente -->
                  <p class="lead mb-1">Informacion del Cliente</p>
                  <dl>
                    <dt>Nombre</dt>
                    <dd><%= ingreso.nombre_cliente %></dd>
  
                    <dt>Telefono</dt>
                    <dd><%= ingreso.telefono_cliente %></dd>
  
                    <dt>Ciudad</dt>
                    <dd><%= ingreso.ciudad_cliente %></dd>
  
                    <dt>Direccion</dt>
                    <dd><%= ingreso.direccion_cliente %></dd>
                  </dl>

                  <!-- Informacion del Equipo -->
                  <!-- <p class="lead mb-1">
                    <span>
                      Informacion del Equipo
                    </span>
                    <a href="/equipos-externos/<%# ingreso.equipo.id %>/detalle" class="text-sm text-bold ml-1">Ver perfil <i class="fas fa-external-link-alt"></i> </a>
                  </p> -->

                  <dl>
                    <!-- <dt>Marca</dt>
                    <dd><%# ingreso.equipo.marca %></dd>
  
                    <dt>Modelo</dt>
                    <dd><%# ingreso.equipo.modelo %></dd>
  
                    <dt>Numero de Serie</dt>
                    <dd><%# ingreso.equipo.numero_serie %></dd> -->

                    <dt>Historial de Informes</dt>
                    <dd>
                      <ul class="list-unstyled" id="historial-taller">
                        <li><a href="#">Informe 1</a></li>
                        <li><a href="#">Informe 2</a></li>
                        <li><a href="#">Informe 3</a></li>
                      </ul>
                    </dd>
                  </dl>
                </div>
              </div>
              <!-- /Detalles del Ingreso -->

              <!-- Timeline -->
              <% if (combinedData.length > 0) { %>
                <div class="row">
                  <div class="col">
                    <div class="timeline">
                      
                      <!-- Recorremos los datos combinados -->
                      <% combinedData.forEach((item, index) => { %>
                        <% if (index == 0) { %>
                          <div class="time-label">
                            <span class="bg-red">
                              <%= ingreso.fecha_ingreso.toLocaleDateString("es-AR") %>
                            </span>
                          </div>
                        <% } %>

                        <div>
                          <% if (item.type === "informe") { %>
                            <i class="fas fa-file-alt bg-yellow"></i>
                          <% } else if (item.type === "insumo"){ %>
                            <i class="fas fa-box bg-green"></i>
                          <% } %>
                          <div class="timeline-item">
                            <span class="time"><i class="fas fa-clock"></i> 
                              <%= new Date(item.fecha).toLocaleString("es-AR") %>
                            </span>
                            <% if (item.type === 'informe') { %>
                              <h3 class="timeline-header"><a href="#"><%= item.nombre_usuario %></a> hizo un informe</h3>
                              <div class="timeline-body">
                                <%= item.detalle %>
                              </div>
                              <div class="timeline-footer d-flex justify-content-between">
                                <% if (!egreso) { %>
                                  <% if (locals.userLogged.id == item.id_usuario) { %>
                                    <div>
                                      <a href="/taller/externos/informe/<%= item.id %>/editar" class="btn btn-primary btn-sm">Editar</a>
                                      
                                      <a class="btn btn-danger btn-sm" id="btn-eliminar-informe" data-toggle="modal" data-target="#modal-eliminar-informe" data-id="<%= item.id %>">Borrar</a>
                                    </div>
                                  <% } %>

                                  <% if (item.type == "informe") { %>
                                    <% if (item.pedido_insumos === true && ingreso.id_estado === 2) { %>
                                      <a href="/taller/externos/<%= item.id %>/insumos/crear" class="btn btn-info btn-sm float-right">Entregar Insumos</a>
                                     <% } %>
                                  <% } %>
                                  
                                <% } %>
                              </div>
                            <% } else if (item.type === 'insumo') { %>
                              <h3 class="timeline-header"><a href="#"><%= item.nombre_usuario %></a> entrega de insumos</h3>
                              <div class="timeline-body">
                                <%= item.observacion %>
                              </div>
                              <div class="timeline-footer">
                                <p class="text-info">Nro de Remito: <%= item.nro_remito %></p>
                              </div>
                            <% } %>
                          </div>
                        </div>
                      <% }) %>
                    </div>
                  </div>
                </div>
              <% } %>
              <!-- /Timeline -->
          
              <% if (egreso) { %>
                <!-- Detalles del Egreso -->
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Detalles del Egreso</h3>
                  </div>
                  <div class="card-body">
                    <!-- Informacion del Usuario -->
                    <% if (egreso.usuario != null) { %>
                     <dt>Usuario</dt>
                     <dd><%= egreso.usuario.nombre %> <%= egreso.usuario.apellido %></dd>
                    <% } %>
                    <!-- Fecha de Egreso -->
                    <dt>Fecha de Egreso</dt>
                    <dd>
                      <%= egreso.fecha_egreso.toLocaleString("es-AR", {
                        year: "numeric",
                        month: "numeric",
                        day: "numeric",
                        hour: "numeric",
                        minute: "numeric",
                      }) %>
                    </dd>

                    <!-- Detalles de la Reparacion -->
                    <dt>Detalles de la Reparacion</dt>
                    <dd>
                      <%= egreso.detalle %>
                    </dd>

                    <!-- Precio -->
                    <% if (egreso.precio) { %>
                      <dt>Precio</dt>
                      <dd class="precio">
                        <%= egreso.precio %>
                      </dd>
                    <% } %>

                    <!-- Forma de Pago -->
                    <% if (egreso.id_forma_pago) { %>
                      <dt>Forma de Pago</dt>
                      <dd>
                        <%= egreso.forma_pago.nombre %>
                      </dd>
                    <% } %>
                    
                    <!-- Fecha de Cobro -->
                    <% if (egreso.fecha_cobro) { %>
                      <dt>Fecha de Cobro</dt>
                      <dd>
                        <%= egreso.fecha_cobro.toLocaleString("es-AR", {
                          year: "numeric",
                          month: "numeric",
                          day: "numeric",
                          hour: "numeric",
                          minute: "numeric",
                        }) %>
                      </dd>
                    <% } %>
                  </div>
                </div>
                <!-- /Detalles del Egreso -->
              <% } %>

              <!-- Botones -->
              <% if (!egreso) { %>
                <div class="d-flex justify-content-between">
                  <!-- Boton Agregar Informe -->
                  <a href="/taller/externos/informe/<%= ingreso.id %>" class="btn btn-outline-primary">Agregar Informe</a>
                  
                  <%# if (ingreso.id_estado == 2) { %>
                    <!-- Boton para Entregar Insumos -->
                    <!-- <a href="/taller/externos/<%# ingreso.id %>/insumos/crear" class="btn btn-outline-info float-middle">Entregar Insumos</a> -->
                  <%# } %>

                  <!-- Boton para informar Egreso -->
                  <a href="/taller/externos/egresos/<%= ingreso.id %>" class="btn btn-outline-success float-right">Informe de Egreso</a>
                </div>
              <% } %>

              <!--  Boton Volver Atras-->
              <a href="/taller/externos" class="btn btn-block btn-outline-secondary mt-3">Ir al listado</a>

              <!-- Boton para Eliminar -->
              <button type="button" data-toggle="modal" data-target="#modal-eliminar-ingreso" class="btn btn-block btn-outline-danger mt-3">Eliminar este registro</button>
              
            </div>
          </div>
        </div>
      </section>
      <!-- /Content Body -->
      
      <!-- Modal de cobro -->
      <% if (egreso) { %>
        <div class="modal fade" id="modal-cobro">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Informar Cobro</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <!-- Formulario -->
              <form action="/taller/externos/informar-cobro/<%= egreso.id %>?_method=PUT" method="post">
                <div class="modal-body">

                  <!-- FECHA DE COBRO -->
                  <div class="form-group">
                    <p>Fecha: <%= new Date().toLocaleDateString("es-AR") %></p>
                  </div> 

                  <!-- PRECIO -->
                  <div class="form-group">
                    <label for="precio">Precio</label>
                    <input type="number" name="precio" id="precio" class="form-control" value="<%= egreso.precio %>" readonly>
                  </div>

                  <!-- FORMA DE PAGO -->
                  <div class="form-group">
                    <label for="id_forma_pago">Forma de Pago</label>
                    <select name="id_forma_pago" id="id_forma_pago" class="form-control">
                      <option value="" disabled hidden>Seleccione una opcion</option>
                      <% for(let i = 0; i < 3; i++ ) { %>
                        <option value="<%= formasPago[i].id %>"><%= formasPago[i].nombre %></option>
                      <% } %>
                      <%# formasPago.forEach(formaPago => { %>
                        <!-- <option value="<%# formaPago.id %>"><%# formaPago.nombre %></option> -->
                      <%# }) %>
                    </select>
                  </div>                 
                </div>
                <div class="modal-footer justify-content-between">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                  <button type="submit" class="btn btn-primary">Aceptar</button>
                </div>
              </form>
              <!-- /Formulario -->
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
      <% } %>


      <!-- Modal para definir el precio -->
      <% if (egreso) { %>
        <div class="modal fade" id="modal-definir-precio">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Definir Precio</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <!-- Formulario -->
              <form action="/taller/externos/definir-precio/<%= egreso.id %>?_method=PUT" method="post">
                <div class="modal-body">
                  <div class="form-group">
                    <label for="precio">Precio</label>
                    <input type="number" name="precio" id="precio" class="form-control">
                  </div>
                </div>
                <div class="modal-footer justify-content-between">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                  <button type="submit" class="btn btn-primary">Aceptar</button>
                </div>
              </form>
            </div>
          </div>
        </div>        
      <% } %>

      <!-- Modal Eliminar un Informe -->
      <div class="modal fade" id="modal-eliminar-informe">
        <div class="modal-dialog">
          <div class="modal-content">
            <!-- Header -->
            <div class="modal-header">
              <h4 class="modal-title">Borrar Informe</h4>
            </div>
            <!-- Body -->
            <div class="modal-body">
              <p>¿Estas seguro que quieres borrar este informe?</p>
            </div>
            <!-- Footer -->
             <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>

              <button type="button" class="btn btn-danger" id="btn-modal-eliminar-informe">Borrar</button>
             </div>
          </div>
        </div>
      </div>

      <!-- Modal Eliminar Ingreso -->
      <div class="modal fade" id="modal-eliminar-ingreso">
        <div class="modal-dialog">
          <div class="modal-content">
            <!-- Header -->
            <div class="modal-header">
              <h4 class="modal-title">Borrar Registro</h4>
            </div>
            <!-- Body -->
            <div class="modal-body">
              <p>¿Estas seguro que quieres borrar este registro?</p>
            </div>
            <!-- Footer -->
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
              
              <button type="button" class="btn btn-outline-danger" id="btn-modal-eliminar-ingreso">Borrar</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal para mostrar el detalle de Taller -->
      <div class="modal fade" id="modal-detalle-taller">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Detalle de Taller</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="modal-body" id="detalle-taller">
              <p>Detalle de Taller</p>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="modal-informar-retiro">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Informar Retiro</h4>
            </div>

            <div class="modal-body">
              <p>¿Estas seguro que deseas informar el retiro del equipo del taller?</p>
            </div>

            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>

              <button type="button" class="btn btn-primary" id="informar-retiro">Aceptar</button>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>

  <%- include('../../partials/AdminLTEScripts.ejs') %>
  <!-- Script formatear precios -->
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const precios = document.querySelectorAll(".precio");
      
      precios.forEach(precio => {
        const valor = precio.textContent;
        precio.textContent = "$" + formatearPrecio(valor);
      })
    })
  </script>

  <!-- Script para eliminar un informe -->
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const btnEliminarInforme = document.querySelectorAll("#btn-eliminar-informe");

      const btnModalEliminarInforme = document.getElementById("btn-modal-eliminar-informe");

      let idInformeABorrar;

      // Asignar el ID del Informe al boton del modal
      btnEliminarInforme.forEach(btn => {
        btn.addEventListener("click", (e) => {
          idInformeABorrar = e.target.getAttribute("data-id");
        })
      })

      btnModalEliminarInforme.addEventListener("click", async () => {
        try {
          const response = await fetch(`/taller/externos/informe/${idInformeABorrar}/eliminar`, {
            method: "DELETE",
            headers: {
              "Content-Type": "application/json"
            },
          })

          if (!response.ok) {
            throw new Error("Error fetching data");
          }

          const data = await response.json();
          // console.log(data);
          // Mostrar mensaje
          // alert(data.message);
          // Recargar la página
          location.reload();
        } catch (error) {
          console.log(error);
          alert("Ocurrio un error al intentar eliminar el informe.")
        }
      })
    })
  </script>

  <!-- Script para Eliminar el Ingreso del Taller -->
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      console.log("Script para Eliminar un Ingreso")

      // ID Ingreso
      const id = "<%= ingreso.id %>";
      console.log("ID Ingreso: ", id);
      
      const btnModalEliminarIngreso = document.getElementById("btn-modal-eliminar-ingreso");

      btnModalEliminarIngreso.addEventListener("click", async () => {
        const data = await fetchEliminarIngreso(id);

        if (data) {
          console.log(data);
          alert(data.message);
          // Redireccionar al listado
          window.location.href = "/taller/externos";
        } else {
          console.log(data);
          alert("Ocurrio un error al intentar eliminar el ingreso.")
        }
      });

      // Funcion Fetch para eliminar un Ingreso
      const fetchEliminarIngreso = async (id) => {
        try {
          const response = await fetch(`/taller/externos/${id}/eliminar-registro`, {
            method: "DELETE",
            headers: {
              "Content-Type": "application/json"
            }
          });

          if (!response.ok) {
            throw new Error("Error fetching data");
          };

          return await response.json();
        } catch (error) {
          console.error(error);
        }
      }

    })
  </script>

  <!-- Script para mostrar el historial de un equipo -->
  <script>
    document.addEventListener("DOMContentLoaded", async () => {
      // Capturar el ID del Equipo
      const idEquipo = "<%= ingreso.equipo.id %>";

      // Capturar la Fecha de Ingreso
      const fechaIngreso = "<%= new Date(ingreso.fecha_ingreso).toISOString() %>";
      // console.log(`La fecha de Ingreso es ${fechaIngreso}`);
      
      // Crear un Objeto Literal con el ID del Equipo y la Fecha de Ingreso
      const dataToFetch = {
        idEquipo,
        fechaIngreso,
      };

      // Funcion fetch para traer los ultimos 5 Ingresos del Equipo al Taller
      // Se envia en el body de la funcion el ID del Equipo y la Fecha de Ingreso actual
      const fetchHistorialTaller = async () => {
        try {
          const response = await fetch(`/taller/externos/historial-taller`, {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(dataToFetch),
          });

          if (!response.ok) {
            throw new Error("Error al intentar obtener los datos");
          }

          return await response.json();
        } catch (error) {
          console.error(error);
        }
      };

      // Funcion fetch para traer el detalle completo del taller (Ingreso, Informes, Insumos y Egreso) de un Equipo a traves del ID del Ingreso.
      const fetchDetalleTaller = async (id) => {
        try {
          const response = await fetch(`/taller/externos/detalle-taller/${id}`);

          if (!response.ok) {
            throw new Error("Error al intentar obtener los datos");
          }

          return await response.json();
        } catch (error) {
          console.error(error);
        }
      }

      // Funcion para mostrar el historial de ingresos
      const mostrarHistorial = (ingresos) => {
        // Capturar el elemento
        const ulHistorial = document.getElementById("historial-taller");

        // Limpiar el contenido anterior
        ulHistorial.innerHTML = "";

        if (ingresos.length == 0) {
          const li = document.createElement("li");
          li.textContent = "No hay informes para mostrar";
          ulHistorial.appendChild(li);
        };

        // Recorrer los ingresos
        ingresos.forEach(ingreso => {
          const li = document.createElement("li");
          const a = document.createElement("a");

          a.textContent = `${new Date(ingreso.fecha_ingreso).toLocaleDateString("es-AR")} - ${ingreso.motivo}`;
          a.classList.add("linkIngreso")
          a.href = "#detalle-taller";

          a.addEventListener("click", async (event) => {
            event.preventDefault();

            $("#modal-detalle-taller").modal("show");

            const data = await fetchDetalleTaller(ingreso.id);
            // console.log(data);

            // Capturar el cuerpo del Modal para mostrar la informacion
            const modalDetalle = document.getElementById("detalle-taller");

            modalDetalle.innerHTML = ""; // Limpiar el contenido anterior

            // Ingreso
            if (data.ingreso) {
              // Crear un card para mostrar la informacion del Ingreso
              const cardIngreso = document.createElement("div");
              cardIngreso.classList.add("card");
  
              const cardBodyIngreso = document.createElement("div");
              cardBodyIngreso.classList.add("card-body");
              
              const dlIngreso = document.createElement("dl");
  
              dlIngreso.innerHTML = `
                <dt>Fecha de Ingreso</dt>
                <dd>${new Date(data.ingreso.fecha_ingreso).toLocaleString("es-AR", {
                  year: "numeric",
                  month: "numeric",
                  day: "numeric",
                  hour: "numeric",
                  minute: "numeric",
                })}</dd>
  
                <dt>Estado</dt>
                <dd>${data.ingreso.estado.nombre}</dd>
  
                <dt>Motivo</dt>
                <dd>${data.ingreso.motivo}</dd>
  
                <dt>Detalle</dt>
                <dd>${data.ingreso.detalle}</dd>
                
                <p class="lead mb-0">Informacion del Cliente</p>

                <dt>Cliente</dt>
                <dd>${data.ingreso.nombre_cliente}</dd>
  
                <dt>Telefono</dt>
                <dd>${data.ingreso.telefono_cliente}</dd>
  
                <dt>Ciudad</dt>
                <dd>${data.ingreso.ciudad_cliente}</dd>
  
                <dt>Direccion</dt>
                <dd>${data.ingreso.direccion_cliente}</dd>
                
                <p class="lead mb-0">Informacion del Equipo</p>
                
                <dt>Marca</dt>
                <dd>${data.ingreso.equipo.marca}</dd>
  
                <dt>Modelo</dt>
                <dd>${data.ingreso.equipo.modelo}</dd>
  
                <dt>Numero de Serie</dt>
                <dd>${data.ingreso.equipo.numero_serie}</dd>
              `
  
              cardBodyIngreso.appendChild(dlIngreso);
              cardIngreso.appendChild(cardBodyIngreso);
              modalDetalle.appendChild(cardIngreso);
            }
            
            // Informes e Insumos
            if (data.combinedData.length > 0) {
              const divRow = document.createElement("div");
              divRow.classList.add("row");
              modalDetalle.appendChild(divRow);

              const divCol = document.createElement("div");
              divCol.classList.add("col");
              divRow.appendChild(divCol);

              const divTimeline = document.createElement("div");
              divTimeline.classList.add("timeline");
              divCol.appendChild(divTimeline);

              const divTimeLabel = document.createElement("div");
              divTimeLabel.classList.add("time-label");
              divTimeline.appendChild(divTimeLabel);

              const spanBgRed = document.createElement("span");
              spanBgRed.classList.add("bg-red");
              spanBgRed.textContent = new Date(data.ingreso.fecha_ingreso).toLocaleDateString("es-AR");
              divTimeLabel.appendChild(spanBgRed);

              // Recorrer el vector dataCombined
              data.combinedData.forEach((item) => {

                if (item.type == "informe") {
                  // Si el item es un Informe
                  const divInforme = document.createElement("div");
                  divInforme.classList.add("time-label");

                  divInforme.innerHTML = `
                    <i class="fas fa-file-alt bg-yellow"></i>
                    <div class="timeline-item">
                      <span class="time"><i class="fas fa-clock"></i>${new Date(item.fecha).toLocaleString("es-AR", {
                        year: "numeric",
                        month: "numeric",
                        day: "numeric",
                        hour: "numeric",
                        minute: "numeric",
                      })}</span>
                      <h3 class="timeline-header"><a href="#">Usuario</a> hizo un informe</h3>
                      <div class="timeline-body">
                        <p>${item.detalle}</p>
                      </div>
                    </div>
                  `
                  // Agregar el item Informe al Timeline
                  divTimeline.appendChild(divInforme);
                } else {
                  // Si el item es un Insumo
                  const divInsumo = document.createElement("div");
                  divInsumo.classList.add("time-label");

                  divInsumo.innerHTML = `
                    <i class="fas fa-box bg-green"></i>
                    <div class="timeline-item">
                      <span class="time"><i class="fas fa-clock"></i>${new Date(item.fecha).toLocaleString("es-AR", {
                        year: "numeric",
                        month: "numeric",
                        day: "numeric",
                        hour: "numeric",
                        minute: "numeric",
                      })}</span>
                      <h3 class="timeline-header"><a href="#">Usuario</a> entrega de insumos</h3>
                      <div class="timeline-body">
                        <p>${item.observacion}</p>
                      </div>
                      <div class="timeline-footer">
                        <p class="text-info">Nro. Remito: ${item.nro_remito}</p>
                      </div>
                    </div>
                  `

                  // Agregar el item Insumo al Timeline
                  divTimeline.appendChild(divInsumo);
                }
              })
            }

            // Egreso
            if (data.egreso) {
              // Crear un card para mostrar la informacion del Egreso
              const cardEgreso = document.createElement("div");
              cardEgreso.classList.add("card");
  
              const cardBodyEgreso = document.createElement("div");
              cardBodyEgreso.classList.add("card-body");
              
              const dlEgreso = document.createElement("dl");
  
              dlEgreso.innerHTML = `
                <dt>Fecha de Egreso</dt>
                <dd>${new Date(data.egreso.fecha_egreso).toLocaleString("es-AR", {
                  year: "numeric",
                  month: "numeric",
                  day: "numeric",
                  hour: "numeric",
                  minute: "numeric",
                })}</dd>
  
                <dt>Detalle</dt>
                <dd>${data.egreso.detalle}</dd>
              `
              if (data.egreso.forma_pago && data.egreso.forma_pago.nombre) {
                dlEgreso.innerHTML += `
                  <dt>Forma de Pago</dt>
                  <dd>${data.egreso.forma_pago.nombre}</dd>
                `;
              }
  
              if (data.egreso.precio) {
                dlEgreso.innerHTML += `
                  <dt>Precio</dt>
                  <dd>$${formatearPrecio(data.egreso.precio)}</dd>
                `;
              }
  
              if (data.egreso.fecha_cobro) {
                dlEgreso.innerHTML += `
                <dt>Fecha de Cobro</dt>
                <dd>${new Date(data.egreso.fecha_cobro).toLocaleString("es-AR", {
                  year: "numeric",
                  month: "numeric",
                  day: "numeric",
                  hour: "numeric",
                  minute: "numeric",
                })}</dd>
                `;
              }
  
              cardBodyEgreso.appendChild(dlEgreso);
              cardEgreso.appendChild(cardBodyEgreso);
              modalDetalle.appendChild(cardEgreso);
            }
          });

          li.appendChild(a);
          ulHistorial.appendChild(li);
        });
      }

      const data = await fetchHistorialTaller(idEquipo);
      
      mostrarHistorial(data);

    })
  </script>

  <!-- Script para informar el retiro de un equipo del taller -->
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      console.log("Script para informar el retiro de un equipo del taller conectado...");
      const idIngreso = "<%= ingreso.id %>";
      console.log(idIngreso);
      
      const buttonInformarRetiro = document.getElementById("informar-retiro");

      buttonInformarRetiro.addEventListener("click", async () => {
        try {
          const response = await fetch(`/taller/externos/${idIngreso}/informar-retiro`, {
            method: "PUT",
            headers: {
              "Content-Type": "application/json"
            },
          })

          if (!response.ok) {
            throw new Error("Error fetching data");
          }

          const data = await response.json();
          console.log(data);
          alert(data.message);
          // Recargar la página
          location.reload();
        } catch (error) {
          console.error(error);
          alert(data.message)
        }
      })
    })
  </script>
</body>

</html>