<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/AdminLTEHead.ejs') %>
    <%- include('../../partials/AdminLTEHeadTables.ejs') %>
    <title>REDNOR</title>
  </head>
  <body class="hold-transition sidebar-mini">
    <div class="wrapper">
      <!-- Navbar -->
      <%- include('../../partials/navbar.ejs') %>
        
      <!-- Main Sidebar -->
      <%- include('../../partials/mainSidebar.ejs') %>
  
      <!-- Control Sidebar -->
       <%- include('../../partials/controlSidebar.ejs') %>
      <!-- MAIN -->
      <main class="content-wrapper">
        <section class="content mt-3">
          <div class="container-fluid">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <div class="d-flex justify-content-between">
                      <div class="">
                        <ul class="nav nav-pills">
                          <li class="nav-item"><a class="nav-link active" href="#tab_1" data-toggle="tab">En Taller</a></li>
                          <li class="nav-item"><a class="nav-link" href="#tab_2" data-toggle="tab">Historial</a></li>
                        </ul>
                      </div>

                      <div class="align-self-center">
                        <a href="/taller/externos/ingresos" class="btn btn-outline-primary">Nuevo</a>
                      </div>
                    </div>
                  </div>
                  <% if (ingresos) { %>
                    <div class="card-body">
                      <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">
                          <table id="ingresosEnTaller" class="table table-bordered table-hover">
                            <thead>
                              <tr>
                                <th>Nombre</th>
                                <th>Equipo</th>
                                <th>Ingreso</th>
                                <th>Estado</th>
                                <th>Detalles</th>
                              </tr>
                            </thead>
                            <tbody>
                              <% ingresosEnTaller.forEach(ingresoEnTaller => { %>
                              <tr>
                                <td><%= ingresoEnTaller.nombre_cliente %></td>
                                <td>
                                  <%= ingresoEnTaller.equipo.marca %>
                                  <%= ingresoEnTaller.equipo.modelo %>
                                  <%= ingresoEnTaller.equipo.numero_serie %>
                                </td>
                                <td>
                                  <%= new Date(ingresoEnTaller.fecha_ingreso).toLocaleString("es-ES", {
                                    day: "2-digit",
                                    month: "2-digit",
                                    year: "numeric",
                                    // hour: "2-digit",
                                    // minute: "2-digit",
                                    // hour12: false,
                                  }) %>
                                </td>
                                <td><%= ingresoEnTaller.estado.nombre %></td>
                                <td>
                                  <a href="/taller/externos/detalle/<%= ingresoEnTaller.id %>">Detalles</a>
                                </td>
                              </tr>
                              <% }); %>
                            </tbody>
                          </table>
                        </div>
                        
                        <div class="tab-pane" id="tab_2">
                          <table id="ingresosHistorial" class="table table-bordered table-hover">
                            <thead>
                              <tr>
                                <th>Cliente</th>
                                <th>Equipo</th>
                                <th>Ingreso</th>
                                <th>Egreso</th>
                                <th>Estado</th>
                                <th>Detalles</th>
                              </tr>
                            </thead>
                            <tbody>
                              <% ingresosHistorial.forEach(ingresoHistorial => { %>
                              <tr>
                                <td><%= ingresoHistorial.nombre_cliente %></td>
                                <td>
                                  <%= ingresoHistorial.equipo.marca %>
                                  <%= ingresoHistorial.equipo.modelo %>
                                  <%= ingresoHistorial.equipo.numero_serie %>
                                </td>
                                <td>
                                  <%= new Date(ingresoHistorial.fecha_ingreso).toLocaleString("es-ES", {
                                    day: "2-digit",
                                    month: "2-digit",
                                    year: "numeric",
                                    // hour: "2-digit",
                                    // minute: "2-digit",
                                    // hour12: false,
                                  }) %>
                                </td>
                                <td>
                                  <% if (ingresoHistorial.egreso) { %>
                                    <%= new Date(ingresoHistorial.egreso.fecha_egreso).toLocaleString("es-ES", {
                                      day: "2-digit",
                                      month: "2-digit",
                                      year: "numeric",
                                      // hour: "2-digit",
                                      // minute: "2-digit",
                                      // hour12: false,
                                    }) %>
                                  <% } else { %>
                                    -
                                  <% } %>
                                </td>
                                <td><%= ingresoHistorial.estado.nombre %></td>
                                <td>
                                  <a href="/taller/externos/detalle/<%= ingresoHistorial.id %>">Detalles</a>
                                </td>
                              </tr>
                              <% }); %>
                            </tbody>
                          </table>
                        </div>
                        <!-- /.tab-pane -->
                      </div>
                    </div>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <!-- FIN MAIN -->
    </div>

    <%- include('../../partials/AdminLTEScripts.ejs') %>
    <%- include('../../partials/AdminLTEScriptsTables.ejs') %>
    <script>
      $(function () {
        $("#ingresosEnTaller").DataTable({
          "responsive": true, "lengthChange": false, "autoWidth": false,
          "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#ingresosEnTaller_wrapper .col-md-6:eq(0)');
      });
      // $(function () {
      //   $("#ingresosEnEspera").DataTable({
      //     "responsive": true, "lengthChange": false, "autoWidth": false,
      //     "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
      //   }).buttons().container().appendTo('#ingresosEnEspera_wrapper .col-md-6:eq(0)');
      // });
      $(function () {
        $("#ingresosHistorial").DataTable({
          "responsive": true, "lengthChange": false, "autoWidth": false,
          "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#ingresosHistorial_wrapper .col-md-6:eq(0)');
      });
    </script>
  </body>
</html>
