<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/AdminLTEHead.ejs') %>
    <title>REDNOR - Nuevo usuario</title>
  </head>

  <body class="hold-transition register-page dark-mode">
    <div class="register-box">
      <div class="card card-outline card-primary">
        <div class="card-header text-center">
          <a href="/" class="h1"><b>Rednor</b> Dashboard</a>
        </div>
        <div class="card-body">
          <p class="login-box-msg">Registro para nuevos usuarios</p>
    
          <form action="/usuarios/registro" method="post">

            <!-- Nombre del Usuario -->
            <div class="input-group mb-3">
              <input type="text" name="nombre" class="form-control" placeholder="Nombre" value="<%= locals.old && old.nombre ? old.nombre : "" %>">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-user"></span>
                </div>
              </div>
            </div>
            <% if (locals.errors && errors.nombre) { %>
              <p class="text-danger text-center"><%= errors.nombre.msg %></p>
            <% } %>

            <!-- Apellido del Usuario -->
            <div class="input-group mb-3">
              <input type="text" name="apellido" class="form-control" placeholder="Apellido" value="<%= locals.old && old.apellido ? old.apellido : "" %>">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-user"></span>
                </div>
              </div>
            </div>
            <% if (locals.errors && errors.apellido) { %>
              <p class="text-danger text-center"><%= errors.apellido.msg %></p>
            <% } %>

            <!-- Email del Usuario -->
            <div class="input-group mb-3">
              <input type="email" name="email" class="form-control" placeholder="Email" value="<%= locals.old && old.email ? old.email : "" %>">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>
            <% if (locals.errors && errors.email) { %>
             <p class="text-danger text-center"><%= errors.email.msg %></p>
            <% } %>

            <!-- Contrase単a -->
            <div class="input-group mb-3">
              <input type="password" name="password" class="form-control" placeholder="Contrase単a" value="<%= locals.old && old.password ? old.password : "" %>">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <% if (locals.errors && errors.password) { %>
              <p class="text-danger text-center"><%= errors.password.msg %></p>
            <% } %>
            
            <!-- Repetir Contrase単a -->
            <div class="input-group mb-3">
              <input type="password" name="rePassword" class="form-control" placeholder="Repetir contrase単a" value="<%= locals.old && old.rePassword ? old.rePassword : "" %>">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <% if (locals.errors && errors.rePassword) { %>
             <p class="text-danger text-center"><%= errors.rePassword.msg %></p>
            <% } %>

            <!-- Boton Registrar -->
            <div class="row">
              <div class="col">
                <button type="submit" class="btn btn-primary btn-block">Registrar</button>
              </div>
            </div>
          </form>
          
          <a href="/usuarios/login" class="d-block text-center mt-3">Ya tengo una cuenta</a>
        </div>
      </div>
    </div>  

    <%- include('../partials/AdminLTEScripts.ejs') %>
  </body>
</html>
