<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/AdminLTEHead.ejs') %>
  <!-- iCheck for checkboxes and radio inputs -->
  <link rel="stylesheet" href="/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <title>REDNOR Taller - Egreso de Equipo</title>
</head>
<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <!-- Navbar -->
    <%- include('../../partials/navbar.ejs') %>
    
    <!-- Main Sidebar -->
    <%- include('../../partials/mainSidebar.ejs') %>

    <!-- Control Sidebar -->
      <%- include('../../partials/controlSidebar.ejs') %>
    <!-- MAIN -->
    <main class="content-wrapper">
      <section class="content pt-3">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-8 m-auto">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Egreso del Equipo <%= equipo.marca %> <%= equipo.modelo %> <%= equipo.numero_serie %></h3>
                </div>
                <div class="card-body">
                  <form action="/taller/egreso/<%= ingreso.id %>" method="post">
                    <div class="form-group">
                      <label for="id_ingreso">ID Ingreso</label>
                      <input type="number" name="id_ingreso" id="id_ingreso" class="form-control" value="<%= ingreso.id %>" disabled>
                    </div>
          
                    <div class="form-group">
                      <label for="detalle">Detalles de la Reparacion: </label>
                      <textarea name="detalle" id="detalle" class="form-control" rows="5"></textarea>
                    </div>

                    <div class="form-group">
                      <label for="observacion">Observacion</label>
                      <textarea name="observacion" id="observacion" class="form-control" rows="5"></textarea>
                    </div>
          
                    <!-- <div class="form-group">
                      <label for="costo">Costo</label>
                      <input type="number" name="costo" id="costo" class="form-control">
                    </div> -->

                    <div class="form-group clearfix">
                      <div class="icheck-primary d-block">
                        <input type="radio" id="radioPrimary1" name="estado" value="Disponible">
                        <label for="radioPrimary1">Disponible</label>
                      </div>

                      <div class="icheck-primary d-block pt-2">
                        <input type="radio" id="radioPrimary2" name="estado" value="Sin arreglo">
                        <label for="radioPrimary2">Sin Arreglo</label>
                      </div>
                    </div>
                    <input type="submit" class="btn btn-block btn-primary" />
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- FIN MAIN -->
  </div>

  <%- include('../../partials/AdminLTEScripts.ejs') %>
</body>
</html>
