<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/AdminLTEHead.ejs') %>
  <!-- <link rel="stylesheet" href="/css/detalleTaller.css"> -->
  <title>REDNOR - Detalle</title>
</head>
<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <!-- Navbar -->
    <%- include('../../partials/navbar.ejs') %>
  
    <!-- Main Sidebar -->
    <%- include('../../partials/mainSidebar.ejs') %>

    <!-- Control Sidebar -->
      <%- include('../../partials/controlSidebar.ejs') %>
    <!-- MAIN -->
    <main class="content-wrapper">
      <!-- Content Header -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row">
            <div class="col text-center">
              <h1>Informe del Equipo</h1>
            </div>
          </div>
        </div>
      </section>
      <!-- / Content header -->
      
      <!-- Content -->
      <section class="content mt-3">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-8 m-auto">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">
                    <%= ingreso.equipo.marca %> <%= ingreso.equipo.modelo %> <%= ingreso.equipo.numero_serie %>
                  </h3>
                </div>
                <div class="card-body">
                  <dl>
                    <dt>Descripcion</dt>
                    <dd><%= ingreso.detalle %></dd>
                  </dl>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8 m-auto">
              <div class="card">
                <div class="card-header">
                  <h3>Informe</h3>
                </div>
                <div class="card-body">
                  <form action="/taller/informe/<%= ingreso.id %>" method="post">
                    <div class="form-group">
                      <label for="id_in">ID Ingreso</label>
                      <input
                        type="number"
                        name="id_ingreso"
                        id="id_ingreso"
                        class="form-control"
                        value="<%= ingreso.id %>"
                        disabled
                      />
                    </div>
                    <div class="form-group">
                      <label for="detalle">Detalle</label>
                      <textarea name="detalle" id="detalle" class="form-control" rows="10"></textarea>
                    </div>

                    <% if (ingreso.id_estado !== 2) { %>
                      <div class="form-group mt-4">
                        <div class="icheck-primary d-inline">
                          <input type="checkbox" name="pedido_insumos" id="checkboxPrimary">
                          <label for="checkboxPrimary"></label>
                        </div>
                        <label for="">Pedido de Insumos</label>
                      </div>
                    <% } %>

                    <input type="submit" class="btn btn-block btn-primary" />
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- FIN MAIN -->
  </div>

  <%- include('../../partials/AdminLTEScripts.ejs') %>
</body>
</html>
