<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/Select2Head.ejs') %>
  <%- include('../../partials/AdminLTEHead.ejs') %>
  <title>REDNOR Taller - Informar Ingreso</title>
</head>
<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <!-- Navbar -->
    <%- include('../../partials/navbar.ejs') %>
      
    <!-- Main Sidebar -->
    <%- include('../../partials/mainSidebar.ejs') %>

    <!-- Control Sidebar -->
    <%- include('../../partials/controlSidebar.ejs') %>
    <!-- MAIN -->
    <main class="content-wrapper">
      <section class="content pt-3">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-8 m-auto">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Detalles del Informe (id: <%= informe.id %>)</h3>
                </div>
                <div class="card-body">
                  <%= informe.detalle %>
                </div>
              </div>
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Entrega de Insumos</h3>
                </div>
                <div class="card-body">
                  <form action="/taller/<%= informe.id %>/insumos/crear" method="post">

                    <div class="form-group">
                      <label for="id_ingreso_externo">ID de Ingreso</label>  
                      <input type="number" name="id_ingreso_externo" id="id_ingreso_externo" value="<%= ingreso.id %>" class="form-control" disabled>
                    </div>
                    
                    <div class="form-group">
                      <label for="nro_remito">Numero de Remito</label>
                      <input type="text" name="nro_remito" id="nro_remito" class="form-control">
                    </div>
            
                    <div class="form-group">
                      <label for="observacion">Observacion</label>
                      <textarea name="observacion" id="observacion" class="form-control" rows="10"></textarea>
                    </div>
                    <input type="submit" class="btn btn-primary w-100"/>
                  </form>
                  <a href="/taller" class="btn btn-block btn-outline-secondary mt-3">Volver Atrás</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- FIN MAIN -->
  </div>

  <%- include('../../partials/AdminLTEScripts.ejs') %>
  <%- include('../../partials/Select2Scripts.ejs') %>
</body>
</html>