<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/AdminLTEHead.ejs') %>
    <link rel="stylesheet" href="/css/detalleTaller.css">
    <title>REDNOR - Detalle</title>
  </head>
  <body class="hold-transition sidebar-mini">
    <div class="wrapper">
      <!-- Navbar -->
      <%- include('../partials/navbar.ejs') %>
    
      <!-- Main Sidebar -->
      <%- include('../partials/mainSidebar.ejs') %>
  
      <!-- Control Sidebar -->
       <%- include('../partials/controlSidebar.ejs') %>
      <!-- MAIN -->
      <main class="content-wrapper">  
        <!-- CONTENIDO -->
        <section class="main-content">
          <h1>
            <%= ingreso.marca %>
            <%= ingreso.modelo %>
            <%= ingreso.numero_serie %>
          </h1>
          <article>
            <h4>Fecha de Ingreso: <%= ingreso.fecha_ingreso %> </h4>
            <h3><%= ingreso.motivo %></h3>
            <h3>Descripcion</h3>
            <p style="overflow: auto;">
              <%= ingreso.descripcion %>
            </p>
          </article>
          <hr>
          <% if (egreso) { %>
            <article>
              <h4>Fecha de Egreso: <%= egreso.fecha_egreso %></h4>
              <h3>Detalles de la Reparacion</h3>
              <p>
                <%= egreso.detalle_reparacion %>
              </p>
              <h3>Costo: $<%= egreso.costo %></h3>
            </article>
          <% } %>
  
          <% if (!egreso) { %>
            <a href="/taller/externos/egresos/<%= ingreso.id %>">Informar Egreso</a> <br>
          <% } %>
          <!-- <a href="#">Volver al Listado</a> -->
        </section>
        <!-- FIN CONTENIDO -->
      </main>
      <!-- FIN MAIN -->
    </div>

    <%- include('../partials/AdminLTEScripts.ejs') %>
  </body>
</html>
