<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/AdminLTEHead.ejs') %>
  <!-- <link rel="stylesheet" href="/css/detalleTaller.css"> -->
  <title>REDNOR - Detalle</title>
</head>
<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <!-- Navbar -->
    <%- include('../partials/navbar.ejs') %>
  
    <!-- Main Sidebar -->
    <%- include('../partials/mainSidebar.ejs') %>

    <!-- Control Sidebar -->
      <%- include('../partials/controlSidebar.ejs') %>
    <!-- MAIN -->
    <main class="content-wrapper">
      <!-- Content Header -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row">
            <div class="col text-center">
              <h1>
                <%= ingreso.equipo.marca %> <%= ingreso.equipo.modelo %> <%= ingreso.equipo.numero_serie %>
              </h1>
            </div>
          </div>
        </div>
      </section>
      <!-- / Content header -->
      
      <!-- Content -->
      <section class="content mt-3">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-8 m-auto">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Detalles del Ingreso</h3>
                </div>
                <div class="card-body">
                  <!-- Fecha de Ingreso -->
                  <dt>Fecha de Ingreso</dt>
                  <dd><%= ingreso.fecha_ingreso %></dd>

                  <!-- Motivo del Ingreso -->
                  <dt>Motivo</dt>
                  <dd><%= ingreso.motivo %></dd>

                  <!-- Descripcion del Ingreso -->
                  <dt>Descripcion</dt>
                  <dd><%= ingreso.descripcion %></dd>
                </div>
              </div>
              <% if (egreso) { %>
               <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Detalles del Egreso</h3>
                </div>
                <div class="card-body">
                  <!-- Fecha de Egreso -->
                  <dt>Fecha de Egreso</dt>
                  <dd><%= egreso.fecha_egreso %></dd>

                  <!-- Detalles de la Reparacion -->
                  <dt>Detalles de la Reparacion</dt>
                  <dd><%= egreso.detalle_reparacion %></dd>

                  <!-- Costo -->
                  <dt>Costo</dt>
                  <dd>$<%= egreso.costo %></dd>
                </div>
               </div>
              <% } %>
              <% if (!egreso) { %>
                <a href="/taller/egreso/<%= ingreso.id %>" class="btn btn-outline-success">Informar Egreso</a> <br>
              <% } %>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- FIN MAIN -->
  </div>

  <%- include('../partials/AdminLTEScripts.ejs') %>
</body>
</html>
