<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/egreso.css">
    <title>REDNOR Taller - Egreso de Equipo</title>
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <!-- MAIN -->
    <main class="main-container">
      <!-- ASIDE -->
      <%- include('../partials/aside.ejs') %>
      <!-- FIN ASIDE -->

      <!-- CONTENIDO -->
      <section class="main-content">
        <article>
          <div class="form-egreso-container">
            <p>Informe de Egreso</p>
            <h1></h1>
            <form action="/taller/externos/egresos/<%= ingreso.id %>" method="post">
              <div>
                <label for="id_ingreso_externo">ID Ingreso</label>
                <input type="number" name="id_ingreso_externo" id="id_ingreso_externo" value="<%= ingreso.id %>" disabled>
              </div>

              <div>
                <label for="detalle_reparacion">Detalles de la Reparacion: </label>
                <textarea name="detalle_reparacion" id="detalle_reparacion"></textarea>
              </div>

              <div>
                <label for="costo">Costo</label>
                <input type="number" name="costo" id="costo">
              </div>
              <input type="submit" />
            </form>
          </div>
        </article>
      </section>
      <!-- FIN CONTENIDO -->
    </main>
    <!-- FIN MAIN -->
  </body>
</html>
