<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/AdminLTEHead.ejs') %>
    <link rel="stylesheet" href="/css/ingreso.css" />
    <title>REDNOR Taller - Informar Ingreso</title>
  </head>
  <body class="hold-transition sidebar-mini">
    <div class="wrapper">
      <!-- Navbar -->
      <%- include('../partials/navbar.ejs') %>

      <!-- Main Sidebar -->
      <%- include('../partials/mainSidebar.ejs') %>

      <!-- Control Sidebar -->
      <%- include('../partials/controlSidebar.ejs') %>
      <!-- MAIN -->
      <main class="content-wrapper">
        <!-- CONTENIDO -->
        <section class="main-content">
          <article>
            <div class="form-ingreso-container">
              <p>Informe de Ingreso al Taller</p>
              <h1>
                <%= equipo.marca %> <%= equipo.modelo %> - Serie: <%=
                equipo.numero_serie %>
              </h1>
              <form action="/taller/ingreso/<%= equipo.id %>" method="post">
                <div>
                  <label for="id_equipo">ID Equipo</label>
                  <input
                    type="number"
                    name="id_equipo"
                    id="id_equipo"
                    value="<%= equipo.id %>"
                    disabled
                  />
                </div>

                <div>
                  <label for="motivo">Motivo del Ingreso: </label>
                  <input type="text" name="motivo" id="motivo" />
                </div>

                <div>
                  <label for="descripcion">Descripcion: </label>
                  <textarea name="descripcion" id="descripcion"></textarea>
                </div>
                <input type="submit" />
              </form>
            </div>
          </article>
        </section>
        <!-- FIN CONTENIDO -->
      </main>
      <!-- FIN MAIN -->
    </div>

    <%- include('../partials/AdminLTEScripts.ejs') %>
  </body>
</html>
