<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/AdminLTEHead.ejs') %>
    <link rel="stylesheet" href="/css/tables.css" />
    <link rel="stylesheet" href="/css/taller.css" />
    <title>REDNOR</title>
  </head>
  <body class="hold-transition sidebar-mini">
    <div class="wrapper">
      <!-- Navbar -->
      <%- include('../partials/navbar.ejs') %>
        
      <!-- Main Sidebar -->
      <%- include('../partials/mainSidebar.ejs') %>
  
      <!-- Control Sidebar -->
       <%- include('../partials/controlSidebar.ejs') %>
      <!-- MAIN -->
      <main class="content-wrapper">
        <!-- CONTENIDO -->
        <section class="main-content">
          <article class="taller">
            <div class="title">
              <h2>EQUIPOS EN EL TALLER</h2>
            </div>
            <div>
              <a href="/taller/externos/ingresos">Informar un Ingreso</a>
            </div>
            <div class="table-container">
              <table>
                <thead>
                  <tr>
                    <th>Equipo</th>
                    <th>Ingreso</th>
                    <th>Egreso</th>
                    <th>Detalles</th>
                  </tr>
                </thead>
                <% ingresos.forEach(ingreso => { %>
                <tbody>
                  <tr>
                    <td>
                      <%= ingreso.marca %>
                      <%= ingreso.modelo %>
                      <%= ingreso.numero_serie %>
                    </td>
                    <td>
                      <%= ingreso.fecha_ingreso %>
                    </td>
                    <td>
                      <% if (ingreso.egreso) { %>
                        <%= ingreso.egreso.fecha_egreso %>
                      <% } else { %>
                        -
                      <% } %>
                    </td>
                    <td>
                      <a href="/taller/externos/detalle/<%= ingreso.id %>">Ver más...</a>
                    </td>
                  </tr>
                </tbody>
                <% }) %>
              </table>
            </div>
          </article>
        </section>
        <!-- FIN CONTENIDO -->
      </main>
      <!-- FIN MAIN -->
    </div>

    <%- include('../partials/AdminLTEScripts.ejs') %>
  </body>
</html>
