<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/AdminLTEHead.ejs') %>
    <%- include('../../partials/AdminLTEHeadTables.ejs') %>
    <title>REDNOR - Categoria <%= categoria.id %></title>
  </head>
  <body class="hold-transition sidebar-mini">
    <div class="wrapper">
      <!-- Navbar -->
      <%- include('../../partials/navbar.ejs') %>
  
      <!-- Main Sidebar -->
      <%- include('../../partials/mainSidebar.ejs') %>
  
      <!-- Control Sidebar -->
       <%- include('../../partials/controlSidebar.ejs') %>
       
      <!-- Main Content -->
      <main class="content-wrapper">
        <section class="content mt-3">
          <div class="container-fluid">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title"><%= categoria.nombre %></h3>
                    <a href="/gastos/<%= categoria.id %>/crear" class="btn btn-outline-primary float-right">Nuevo</a>
                  </div>
                  <div class="card-body">
                    <table id="table" class="table table-bordered table-hover">
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>Nombre del Servicio</th>
                          <th>Dia de Vencimiento</th>
                          <th>Monto</th>
                          <th>Detalles</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% gastos.forEach(gasto => { %>
                         <tr style="user-select: none;" class="clickable-row" data-href="/gastos/<%= categoria.id %>/servicio/<%= gasto.id %>">
                          <td><%= gasto.id %></td>
                          <td><%= gasto.nombre %></td>
                          <td><%= gasto.dia_vencimiento %></td>
                          <td><%= gasto.frecuencia %></td>
                          <td><a href="/gastos/<%= categoria.id %>/servicio/<%= gasto.id %>">Detalles</a></td>
                         </tr>
                        <% }) %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
    <%- include('../../partials/AdminLTEScripts.ejs') %>
    <%- include('../../partials/AdminLTEScriptsTables.ejs') %>
    <script>
      $(function () {
        $("#table").DataTable({
          "responsive": true, "lengthChange": false, "autoWidth": false,
          "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#table_wrapper .col-md-6:eq(0)');
      });
    </script>

    <!-- Clickable row -->
    <script>
      document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelectorAll('.clickable-row').forEach(row => {
          row.style.cursor = "pointer";
          row.addEventListener('click', () => {
            window.location.href = row.getAttribute('data-href');
          });
        });
      });
    </script>
  </body>
</html>
