<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/AdminLTEHead.ejs') %>
  <script src="/js/cuit.js"></script>
  <script src="/js/detalleGasto.js"></script>
  <title>REDNOR - Perfil del Servicio</title>
  <style>
    .pagination-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .pagination {
      display: flex;
      width: 100%;
      overflow-x: auto;
      scroll-behavior: smooth;
      margin: 0 10px;
      padding: 10px 0;
      list-style-type: none;
    }

    .page-item {
      margin: 0 5px;
    }

    .page-link {
      display: block;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
      background-color: #f9f9f9;
      text-align: center;
    }

    .page-link:hover {
      background-color: #e0e0e0;
      cursor: pointer;
    }

    .active .page-link {
      background-color: #007bff;
      color: white;
    }

    .pagination-btn {
      padding: 10px 15px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .pagination-btn:hover {
      background-color: #0056b3;
    }
  </style>
</head>
<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <!-- Navbar -->
    <%- include('../../partials/navbar.ejs') %>
    
    <!-- Main Sidebar -->
    <%- include('../../partials/mainSidebar.ejs') %>

    <!-- Control Sidebar -->
    <%- include('../../partials/controlSidebar.ejs') %>

    <main class="content-wrapper">
      <!-- Main content -->
      <section class="content pt-3">
        <div class="container-fluid">
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title"><%= gasto.nombre %></h3>
        
                  <button type="button" class="btn btn-outline-primary float-right" data-toggle="modal" data-target="#modal-lg">
                    Pagar Servicio
                  </button>

                </div>
                
                <div class="card-body">
                  <div class="row">
                    <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
                      <div class="row">
                        <div class="col-12 col-sm-4">
                          <div class="info-box bg-light">
                            <div class="info-box-content">
                              <span class="info-box-text text-center text-muted">Estimated budget</span>
                              <span class="info-box-number text-center text-muted mb-0">2300</span>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 col-sm-4">
                          <div class="info-box bg-light">
                            <div class="info-box-content">
                              <span class="info-box-text text-center text-muted">Total amount spent</span>
                              <span class="info-box-number text-center text-muted mb-0">2000</span>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 col-sm-4">
                          <div class="info-box bg-light">
                            <div class="info-box-content">
                              <span class="info-box-text text-center text-muted">Estimated project duration</span>
                              <span class="info-box-number text-center text-muted mb-0">20</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                      <!-- Paginación por meses de los pagos -->
                      <div class="row">
                        <div class="col-12">
                          <div class="card">

                            <div class="card-header">
                              <h3 class="card-title">Paginación Mensual</h3>
                            </div>

                            <div class="card-body pagination-container">
                              <button class="pagination-btn" id="prev-month">«</button>
                              <ul class="pagination pagination-month justify-content-center">
                                <% pagos.forEach(pago => { %>
                                  <% const meses = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"]; %>
                                  <li class="page-item <%= ultimoPago && ultimoPago.id == pago.id ? "active" : "" %>">
                                    <a href="#" class="page-link pago-mes" data-pago-id="<%= pago.id %>">
                                      <p class="page-month"><%= meses[pago.fecha_pago.getMonth()] %></p>
                                      <p class="page-year"><%= pago.fecha_pago.getFullYear() %></p>
                                    </a>
                                  </li>
                                <% }) %>
                              </ul>
                              <button class="pagination-btn" id="next-month">»</button>
                            </div>

                          </div>
                        </div>
                      </div>                      
                      <!-- /Paginación por meses de los pagos -->
    
                      <!-- Datos del Pago -->
                      <div class="row">
                        <div class="col">
                          <div class="card">
                            <div class="card-header">
                              <h3 class="card-title">Datos del Pago</h3>
                              <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                  <i class="fas fa-minus"></i>
                                </button>
                              </div>
                            </div>
                            <div class="card-body" id="datos-pago">
                              <dt>Forma de Pago</dt>
                              <dd id="forma_pago"></dd>

                              <dt>Entidad Bancaria</dt>
                              <dd id="entidad_bancaria"></dd>
                              
                              <dt>CBU</dt>
                              <dd id="cbu"></dd>

                              <dt>CUIT</dt>
                              <dd id="cuit"></dd>

                              <dt>Divisa</dt>
                              <dd id="divisa"></dd>

                              <dt>Monto</dt>
                              <dd id="monto" class="precio"></dd>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- /Datos del Pago -->
    
                      <!-- Alertas -->
                      <div class="row">
                        <div class="col-12">
                          <div class="card">
                            <div class="card-header">
                              <h3 class="card-title">Alertas</h3>
                              <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                  <i class="fas fa-minus"></i>
                                </button>
                              </div>
                            </div>
                            <div class="card-body">
                              <div class="callout callout-success">
                                <h5>WhatsApp</h5>
                                <p>xx xxx xxxx</p>
                                <p>
                                  There is a problem that we need to fix. A wonderful serenity has taken possession of my entire
                                  soul,
                                  like these sweet mornings of spring which I enjoy with my whole heart.
                                </p>
                              </div>
        
                              <div class="callout callout-info">
                                <h5>Mensaje de Correo</h5>
                                <p>correo@email.com</p>
                                <p>
                                  This is a warning message. It indicates a potential issue that may need to be addressed.
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- /Alertas -->
                    </div>
                    
                     <!-- Informacion del gasto/servicio -->
                    <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
                      <h3 class="text-primary"><i class="fas fa-paint-brush"></i><%= gasto.nombre %></h3>
                      <p class="text-muted"><%= gasto.descripcion %></p>
                      <br>
                      <div class="text-muted">
                        <p class="text-sm">Condiciones
                          <b class="d-block"><%= gasto.condiciones %></b>
                        </p>
                        <p class="text-sm">Dia de Vencimiento
                          <b class="d-block"><%= gasto.dia_vencimiento %> de cada mes</b>
                        </p>
                      </div>
        
                      <h5 class="mt-5 text-muted">Project files</h5>
                      <ul class="list-unstyled" id="archivos-list">
                        <!-- Listado de archivos pertenecientes al pago -->
                      </ul>
                      <div class="text-center mt-5 mb-3">
                        <a type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#modal-agregar-archivos">Add files</a>
                        <a href="#" class="btn btn-sm btn-warning">Report contact</a>
                      </div>
                    </div>
                    <!-- /Informacion del gasto/servicio -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Modal de Pago -->
      <div class="modal fade" id="modal-lg">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Pagar Servicio</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <!-- Formulario para registrar nuevo pago -->
            <form action="/gastos/<%= gasto.id_categoria %>/servicio/<%= gasto.id %>/nuevo-pago" method="post">
              <!-- Modal Body -->
              <div class="modal-body">
                <div class="form-group">
                  <label for="id_forma_pago">Forma de Pago</label>
                  <select name="id_forma_pago" id="id_forma_pago" class="form-control">
                    <% formas_pago.forEach(forma_pago => { %>
                     <option value="<%= forma_pago.id %>"><%= forma_pago.nombre %></option>
                    <% }) %>
                  </select>
                </div>

                <div class="form-group" id="entidad_bancaria_modal" style="display: none;">
                  <label for="entidad_bancaria">Entidad Bancaria</label>
                  <input type="text" name="entidad_bancaria" id="entidad_bancaria" class="form-control"> <!--  Longitud 22 caracteres exactos -->
                </div>

                <div class="form-group" id="cbu_modal" style="display: none;">
                  <label for="cbu">CBU/CVU</label>
                  <input type="text" name="cbu" id="cbu" class="form-control"> <!--  Longitud 22 caracteres exactos -->
                </div>

                <div class="form-group" id="cuit_modal" style="display: none;">
                  <label for="cuit">CUIT/CUIL (Sin guiones)</label>
                  <input type="text" name="cuit" id="cuit" class="form-control">
                </div>

                <div class="form-group">
                  <label for="divisa">Divisa</label>
                  <select name="divisa" id="divisa" class="form-control">
                    <option value="ARS">ARS</option>
                    <option value="USD">USD</option>
                  </select>
                </div>

                <div class="form-group">
                  <label for="monto">Monto</label>
                  <input type="text" name="monto" id="monto" class="form-control">
                </div>
              </div>
              
              <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary">Pagar</button>
              </div>
            </form>
            <!-- Fin Formulario -->
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>

      <!-- Modal Agregar Archivos -->
      <div class="modal fade" id="modal-agregar-archivos">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Agregar Archivos</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form action="/gastos/<%= gasto.id_categoria %>/servicio/<%= gasto.id %>/pagos/almacenar-archivos" method="post" enctype="multipart/form-data">

              <!-- Modal Body -->
              <div class="modal-body">

                <div class="form-group">
                  <label for="id_pago">ID del Pago</label>
                  <input type="number" name="id_pago" id="id_pago" value="" class="form-control" readonly>
                </div>

                <div class="form-group">
                  <label for="archivos_pagos">Subir Archivos</label>
                  <div class="input-group">
                    <div class="custom-file">
                      <input type="file" name="archivos_pagos" class="custom-file-input" id="archivos_pagos" multiple>
                      <label for="archivos_pagos" class="custom-file-label">Elegir un archivo...</label>
                    </div>
                    <div class="input-group-append">
                      <!-- <span class="input-group-text">Subir</span> -->
                    </div>
                  </div>
                </div>

              </div>

              <!-- Modal Footer -->
              <div class="modal-footer justify-content-between">
                <button type="reset" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary">Subir Archivos</button>
              </div>
            </form>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
    </main>
  </div>

  <%- include('../../partials/AdminLTEScripts.ejs') %>
  <script src="/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
  <script>
    $(function () {
      bsCustomFileInput.init();
    });
  </script>
  <!-- Script Principal -->
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      // Función para mostrar los detalles del pago
      const mostrarDetallesPago = (data) => {
        document.getElementById('forma_pago').textContent = data.forma_pago.nombre || '-';
        document.getElementById('entidad_bancaria').textContent = data.entidad_bancaria || '-';
        document.getElementById('cbu').textContent = data.cbu || '-';
        document.getElementById('cuit').textContent = data.cuit || '-';
        document.getElementById('divisa').textContent = data.divisa || '-';
        document.getElementById('monto').textContent = data.monto || '-';

        const archivosList = document.getElementById("archivos-list");
        archivosList.innerHTML = ""; // Limpiar la lista de archivos

        if (data.archivos_pagos && data.archivos_pagos.length > 0) {
          data.archivos_pagos.forEach(archivo => {
            const li = document.createElement('li');
            const a = document.createElement('a');
            a.href = `/docs/pagos/${archivo.nombre}`;
            a.textContent = archivo.nombre;
            a.target = "_blank";
            a.className = "btn-link text-secondary";
            const icon = document.createElement("i");
            icon.className = "far fa-fw fa-file-pdf";
            a.prepend(icon);
            li.appendChild(a);
            // archivosList.appendChild(li);

            // Boton para eliminar el archivo
            const deleteButton = document.createElement("button");
            deleteButton.textContent = "Eliminar";
            deleteButton.className = "btn btn-danger btn-xs ml-2";
            deleteButton.addEventListener("click", () => eliminarArchivo(archivo.id, li));
            li.appendChild(deleteButton);

            archivosList.appendChild(li);
          })
        } else {
          const li = document.createElement("li");
          li.textContent = "No hay archivos asociados a este pago";
          archivosList.appendChild(li);
        }
      };

      // Función para eliminar un archivo
      const eliminarArchivo = (archivoId, listItem) => {
        if (confirm("Estás seguro que deseas eliminar este archivo?")) {
          fetch(`/gastos/pagos/eliminar-archivo/${archivoId}`, {
            method: "DELETE",
          })
            .then(response => {
              if (!response.ok) {
                throw new Error('Error al eliminar el archivo');
              }
              return response.json();
            })
            .then(data => {
              if (data.error) {
                throw new Error(data.message);
              }
              alert(data.message);
              // listItem.remove();  // Eliminar el elemento de la lista
              window.location.reload();  // Refrescar/recargar la página
            })
            .catch(error => {
              console.error("Error: ", error);
            })
        }
      }

      // Cargar los detalles del último pago automáticamente
      const ultimoPagoId = "<%= ultimoPago ? ultimoPago.id : 'null' %>";
      
      if (ultimoPagoId !== 'null') {
        const idPagoInput = document.getElementById("id_pago");
        idPagoInput.value = ultimoPagoId;

        fetch(`/gastos/pago/${ultimoPagoId}`)
          .then(response => {
            if (!response.ok) {
              throw new Error('Error al obtener los detalles del último pago');
            }
            return response.json();
          })
          .then(data => {
            mostrarDetallesPago(data);
          })
          .catch(error => {
            console.error('Error:', error);
          });
      }

      // Evento de clic en los meses para mostrar detalles del pago seleccionado
      const pagosLinks = document.querySelectorAll('.pago-mes');

      pagosLinks.forEach(link => {
        link.addEventListener('click', event => {
          // Prevenir el comportamiento predeterminado del enlace
          event.preventDefault();
          
          // Quitar la clase 'active' de todos los elementos
          pagosLinks.forEach(el => el.parentNode.classList.remove('active'));
          
          // Añadir la clase 'active' al pago seleccionado
          link.parentNode.classList.add('active');

          // Obtener el ID del pago seleccionado
          const pagoId = link.getAttribute('data-pago-id');

          // Actualizar el valor del input 'id_pago' con el ID del pago seleccionado
          const idPagoInput = document.getElementById("id_pago");
          idPagoInput.value = pagoId;

          // Obtener los detalles del pago seleccionado
          fetch(`/gastos/pago/${pagoId}`)
            .then(response => {
              if (!response.ok) {
                throw new Error('Error al obtener los detalles del pago');
              }
              return response.json();
            })
            .then(data => {
              mostrarDetallesPago(data);
            })
            .catch(error => {
              console.error('Error:', error);
            });
        });
      });
    });
  </script>


</body>
</html>