<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/AdminLTEHead.ejs') %>
  <script src="/js/cuit.js"></script>
  <title>REDNOR - Eitar <%= categoria.nombre %></title>
  <style>
    .flex-gap {
      padding: 1rem;
    }
  </style>
</head>

<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <!-- Navbar -->
    <%- include('../../partials/navbar.ejs') %>

    <!-- Main Sidebar -->
    <%- include('../../partials/mainSidebar.ejs') %>

    <!-- Control Sidebar -->
    <%- include('../../partials/controlSidebar.ejs') %>

    <!-- Main Content -->
    <main class="content-wrapper">
      <section class="content pt-3">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-8 m-auto">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title"><%= categoria.nombre %></h3>
                </div>
                <div class="card-body">
                  <form action="/gastos/<%= categoria.id %>/servicio/<%= gasto.id %>/editar?_method=PUT" method="post">

                    <h3 class="lead">Editar Informacion del Gasto/Servicio</h3>

                      <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" name="nombre" id="nombre" class="form-control" value="<%= gasto.nombre %>" />
                      </div>

                      <div class="form-group">
                        <label for="descripcion">Descripcion</label>
                        <textarea name="descripcion" id="descripcion" rows="3" class="form-control" autocomplete="on"><%= gasto.descripcion%></textarea>
                      </div>

                      <h3 class="lead" id="condiciones-lead">Condiciones</h3>

                      <div class="form-group">
                        <label for="condiciones">Condiciones</label>
                        <textarea name="condiciones" id="condiciones" rows="3" class="form-control" autocomplete="on"><%= gasto.condiciones %></textarea>
                      </div>

                      <div class="form-group">
                        <label for="dia_vencimiento">Dia de Vencimiento</label>
                        <input type="text" name="dia_vencimiento" id="dia_vencimiento" class="form-control" value="<%= gasto.dia_vencimiento %>">
                      </div>

                      <div class="form-group">
                        <label for="frecuencia ">Frecuencia</label>
                        <select name="frecuencia" id="frecuencia" class="form-control">
                          <option value="" selected hidden disabled>Seleccione una opcion</option>
                          <option value="Único" <%= gasto.frecuencia == "Único" ? "selected" : "" %>>Único</option>
                          <option value="Recurrente" <%= gasto.frecuencia == "Recurrente" ? "selected" : "" %>>Recurrente</option>
                        </select>
                      </div>

                      <hr class="mt-3">
                      <h3 class="lead">Informacion del Pago</h3>

                      <div class="form-group" style="display: none;">
                        <label for="mes">Meses</label>
                        <select name="mes" id="mes" class="form-control">
                          <option value="" selected hidden disabled>Seleccione una opcion</option>
                          <option value="Enero">Enero</option>
                          <option value="Febrero">Febrero</option>
                          <option value="Marzo">Marzo</option>
                          <option value="Abril">Abril</option>
                          <option value="Mayo">Mayo</option>
                          <option value="Junio">Junio</option>
                          <option value="Julio">Julio</option>
                          <option value="Agosto">Agosto</option>
                          <option value="Septiembre">Septiembre</option>
                          <option value="Octubre">Octubre</option>
                          <option value="Noviembre">Noviembre</option>
                          <option value="Diciembre">Diciembre</option>
                        </select>
                      </div>

                      <div class="form-group">
                        <label for="forma_pago">Forma de Pago</label>
                        <select name="forma_pago" id="forma_pago" class="form-control">
                          <option value="" selected disabled hidden>Seleccione una opcion</option>
                          <% formas_pago.forEach(forma_pago => { %>
                           <option value="<%= forma_pago.id %>" <%= gasto.forma_pago.id == forma_pago.id ? "selected" : "" %>><%= forma_pago.nombre %></option>
                          <% }) %>
                        </select>
                      </div>

                      <div class="form-group" id="entidad_bancaria_div" style="display: none;">
                        <label for="entidad_bancaria">Entidad Bancaria</label>
                        <input type="text" name="entidad_bancaria" id="entidad_bancaria" class="form-control" value="<%= gasto.entidad_bancaria %>">
                      </div>

                      <div class="form-group" id="nro_tarjeta_div" style="display: none;">
                        <label for="nro_tarjeta">N° Tarjeta</label>
                        <input type="text" name="nro_tarjeta" id="nro_tarjeta" class="form-control" maxlength="16" value="<%= gasto.nro_tarjeta %>"> <!-- Longitud 16 caracteres exactos -->
                      </div>

                      <div class="form-group" id="cbu_div" style="display: none;">
                        <label for="cbu">CBU/CVU</label>
                        <input type="text" name="cbu" id="cbu" class="form-control" maxlength="22" value="<%= gasto.cbu %>"> <!--  Longitud 22 caracteres exactos -->
                      </div>

                      <div class="form-group" id="cuit_div" style="display: none;">
                        <label for="cuit">CUIT/CUIL (Sin guiones)</label>
                        <input type="text" name="cuit" id="cuit" class="form-control" maxlength="13" value="<%= gasto.cuit %>">
                      </div>

                      <div class="form-group">
                        <label for="email">Email (opcional)</label>
                        <input type="email" name="email" id="email" class="form-control" value="<%= gasto.email %>"/>
                      </div>

                      <div class="form-group">
                        <label for="telefono">Telefono (Whatsapp)</label>
                        <input type="tel" name="telefono" id="telefono" placeholder="+54 9 385X XX-XXXX" class="form-control" value="<%= gasto.telefono %>">
                      </div>

                      <div class="form-group">
                        <label for="divisa">Tipo de Divisa</label>
                        <select name="divisa" id="divisa" class="form-control">
                          <option value="" selected hidden disabled>Seleccione una opcion</option>
                          <option value="ARS" <%= gasto.divisa == "ARS" ? "selected" : "" %>>ARS</option>
                          <option value="USD" <%= gasto.divisa == "USD" ? "selected" : "" %>>USD</option>
                        </select>
                      </div>

                      <div class="form-group">
                        <label for="monto">Monto</label>
                        <input type="number" step="0.01" name="monto" id="monto" class="form-control" value="<%= gasto.monto %>"/>
                      </div>

                      <!-- Boton Enviar -->
                      <input type="submit" value="Actualizar" class="btn btn-block btn-primary" />

                      <!-- Boton Eliminar -->
                      <a href="" type="button" class="btn btn-block btn-danger mt-3" data-toggle="modal" data-target="#modal-eliminar">Eliminar</a>
                      
                      <!-- Boton Volver atras -->
                      <a href="/gastos/<%= categoria.id %>/servicio/<%= gasto.id %>" class="btn btn-block btn-outline-secondary mt-3">Cancelar</a>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
  <!-- FIN CONTENIDO -->
    </main>

    <!-- Modal Eliminar -->
    <div class="modal fade" id="modal-eliminar">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Eliminar <%= gasto.nombre %></h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form action="/gastos/<%= categoria.id %>/servicio/<%= gasto.id %>/eliminar?_method=DELETE" method="post">
            <div class="modal-body">
              <p>¿Estas seguro de eliminar este gasto/servicio?</p>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-danger">Eliminar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Fin Modal Eliminar -->
  </div>

  <%- include('../../partials/AdminLTEScripts.ejs') %>
  <!-- bs-custom-file-input -->
  <script src="/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
  <script>
    $(function () {
      bsCustomFileInput.init();
    });
  </script>
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      let formaPago = document.getElementById("forma_pago");

      const entidadBancaria = document.getElementById("entidad_bancaria_div");
      const nroTarjeta = document.getElementById("nro_tarjeta_div");
      const cbu = document.getElementById("cbu_div");
      const cuitDiv = document.getElementById("cuit_div");
  
      formaPago.addEventListener("change", function () {
        if (this.value === "2") {
          entidadBancaria.style.display = "block";
          nroTarjeta.style.display = "block";
          cbu.style.display = "block";
          cuitDiv.style.display = "block"
        } else {
          entidadBancaria.style.display = "none";
          nroTarjeta.style.display = "none";
          cbu.style.display = "none";
          cuitDiv.style.display = "none";
        }
      })

      if (formaPago.value == 2) {
        entidadBancaria.style.display = "block";
        nroTarjeta.style.display = "block";
        cbu.style.display = "block";
        cuitDiv.style.display = "block"
      }

      const cuit = document.getElementById("cuit");

      cuit.addEventListener("input", (event) => {
        event.target.value = patternMatch({
          input: event.target.value,
          template: "xx-xxxxxxxx-x",
        })
      })
    })
  </script>
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const pathname = window.location.pathname;
      console.log(pathname);

      const condicionesLead = document.getElementById("condiciones-lead");
      const condiciones = document.getElementById("condiciones").parentNode;
      const meses = document.getElementById("mes").parentNode;
      const nroTarjeta = document.getElementById("nro_tarjeta").parentNode;
      console.log(condiciones, meses, nroTarjeta);

      switch (pathname) {
        case "/gastos/1/servicio/crear":
          condicionesLead.style.display = "none";
          condiciones.style.display = "none";
          nroTarjeta.style.display = "none";
          break;
        case "/gastos/2/servicio/crear":
          //  Code
          nroTarjeta.style.display = "none";
          break;
        case "/gastos/3/servicio/crear":
          //  Code
          break;
        case "/gastos/4/servicio/crear":
          //  Code
          break;
        case "/gastos/5/servicio/crear":
          //  Code
          break;
        case "/gastos/6/servicio/crear":
          //  Code
          break;
        case "/gastos/7/servicio/crear":
          //  Code
          break;
        case "/gastos/8/servicio/crear":
          //  Code
          break;
        case "/gastos/9/servicio/crear":
          //  Code
          meses.style.display = "block";
          nroTarjeta.style.display = "block";
          break;
        case "/gastos/10/servicio/crear":
          //  Code
          condicionesLead.style.display = "none";
          condiciones.style.display = "none";
          break;
        case "/gastos/11/servicio/crear":
          //  Code
          break;
        case "/gastos/12/servicio/crear":
          //  Code
          break;
        default:
          //  Nada para hacer
          break;
      }
      
    })
  </script>


</body>

</html>