<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../partials/AdminLTEHead.ejs') %>
    <!-- <link rel="stylesheet" href="/css/formulario.css" /> -->
    <script src="/js/registroCliente.js"></script>
    <title>REDNOR - Nuevo Habilitado</title>
</head>

<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <!-- Navbar -->
    <%- include('../../partials/navbar.ejs') %>

      <!-- Main Sidebar -->
      <%- include('../../partials/mainSidebar.ejs') %>

        <!-- Control Sidebar -->
        <%- include('../../partials/controlSidebar.ejs') %>

          <!-- Main Content -->
          <main class="content-wrapper">
            <section class="content pt-3">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-lg-8 m-auto">
                    <div class="card">
                      <div class="card-header">
                        <h3 class="card-title">Nuevo Cliente</h3>
                      </div>
                      <div class="card-body">
                        <form action="" method="post" enctype="multipart/form-data">
                          <h3 class="lead">Informacion del Servicio</h3>
                          <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input type="text" name="nombre" id="nombre" class="form-control" />
                          </div>

                          <div class="form-group">
                            <label for="descripcion">Descripcion</label>
                            <textarea name="descripcion" id="descripcion" rows="3" class="form-control"></textarea>
                          </div>

                          <h3 class="lead">Condiciones</h3>
                          <div class="form-group">
                            <label for="mes">Mes</label>
                            <select name="mes" id="mes" class="form-control">
                              <option value="">Mes adelantado</option>
                              <option value="">Mes vencido</option>
                            </select>
                          </div>

                          <div class="form-group">
                            <label for="fecha_vencimiento">Fecha de Vencimiento</label>
                            <input type="date" class="form-control" id="fecha_vencimiento">
                          </div>

                          <h3 class="lead">Operacion Bancaria</h3>
                          <div class="form-group">
                            <label for="forma_pago">Forma de Pago</label>
                            <select name="forma_pago" id="forma_pago" class="form-control">
                              <option value="transferencia">Transferencia</option>
                              <option value="">Efectivo</option>
                              <option value="">Sol Pago</option>
                              <option value="">RapiPago</option>
                            </select>
                          </div>

                          <div class="form-group" id="cbu">
                            <label for="cbu">CBU</label>
                            <input type="text" class="form-control"> <!--  Longitud 22 caracteres exactos -->
                          </div>

                          <div class="form-group">
                            <label for="cuit">CUIT (Sin guiones)</label>
                            <input type="text" name="cuit" id="cuit" class="form-control">
                          </div>

                          <div class="form-group">
                            <label for="email">Email (opcional)</label>
                            <input type="email" name="email" id="email" class="form-control" />
                          </div>

                          <div class="form-group">
                            <label for="mensaje_correo">Mensaje Correo</label>
                            <textarea name="mensaje_correo" id="mensaje_correo" rows="3" placeholder="Se adjunta documentación relacionada al pago de %mes% correspondiente al servicio de %nombre% realizado a través de %operacion bancaria%" class="form-control"></textarea>
                          </div>

                          <div class="form-group">
                            <label for="Referencia">Referencia (opcional)</label>
                            <input type="text" class="form-control">
                          </div>

                          <!-- <h3 class="lead">Informacion del Pago</h3>
                          <div class="form-group">
                            <label for="tipo_divisa">Tipo de Divisa</label>
                            <select name="tipo_divisa" id="tipo_divisa" class="form-control">
                              <option value="">ARS</option>
                              <option value="">USD</option>
                            </select>
                          </div>

                          <div class="form-group">
                            <label for="monto">Monto</label>
                            <input type="number" step="0.01" name="monto" id="monto" class="form-control" />
                          </div> -->

                          <h3 class="lead">Alertas de Envios de Pagos</h3>
                          <div class="form-group">
                            <label for="telefono">Telefono (Whatsapp)</label>
                            <input type="tel" name="telefono" id="telefono" placeholder="+54 9 385X XX-XXXX" class="form-control">
                          </div>

                          <div class="form-group">
                            <label for="mensaje_opcional">Mensaje (opcional)</label>
                            <textarea name="mensaje_opcional" id="mensaje_opcional" rows="3" class="form-control" placeholder="Buen día, adjunto el %comprobante% de transferencia correspondiente al %mes%"></textarea>
                          </div>

                    
                      <input type="submit" class="btn btn-primary w-100" />
                      <a href="/pagos" class="btn btn-outline-secondary w-50 mt-3">Volver Atrás...</a>

                    </form>
                  </div>
                </div>
              </div>
  </div>
  </div>
  </section>
  <!-- FIN CONTENIDO -->
  </main>
  </div>

  <%- include('../../partials/AdminLTEScripts.ejs') %>
    <!-- bs-custom-file-input -->
    <script src="/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
    <script>
      $(function () {
        bsCustomFileInput.init();
      });

      let formaPago = document.getElementById("forma_pago");

      formaPago.addEventListener("change", function () {
        if (this.value === "transferencia") {
          document.getElementById("cbu").style.display = "block";
        } else {
          document.getElementById("cbu").style.display = "none";
        }
      })

    </script>
</body>

</html>