<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/AdminLTEHead') %>
  <%- include('../../partials/AdminLTEHeadTables') %>
  <%- include('../partials/AdminLTEHeadTables.ejs') %>

  <title>Document</title>
</head>
<body>
  <main class="content-wrapper">
    <section class="content mt-3">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Servicios</h3>
                <a href="#" class="btn btn-outline-primary float-right">Crear</a>
              </div>
              <div class="card-body">
                <table id="clientes" class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Nombre</th>
                      <th>Tipo</th>
                      <th>Email</th>
                      <th>Detalles</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th>1</th>
                      <th>Nombre 1</th>
                      <th>Tipo 1</th>
                      <th>Email 1</th>
                      <th>Detalles 1</th>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <%- include('../../partials/AdminLTEScripts') %>
  <%- include('../../partials/AdminLTEScriptsTables.ejs') %>
  <script>
    $(function () {
      $("#servicios").DataTable({
        "responsive": true, "lengthChange": false, "autoWidth": false,
        "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
      }).buttons().container().appendTo('#servicios_wrapper .col-md-6:eq(0)');
    });
  </script>
</body>
</html>