<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/AdminLTEHead.ejs') %>
    <link rel="stylesheet" href="/css/tables.css" />
    <link rel="stylesheet" href="/css/alquileres.css" />
    <script src="/js/alquileres.js"></script>
    <title>REDNOR - Alquileres</title>
  </head>
  <body class="hold-transition sidebar-mini">
    <div class="wrapper">
      <!-- Navbar -->
      <%- include('../partials/navbar.ejs') %>
        
      <!-- Main Sidebar -->
      <%- include('../partials/mainSidebar.ejs') %>
  
      <!-- Control Sidebar -->
       <%- include('../partials/controlSidebar.ejs') %>
      <!-- MAIN -->
      <main class="content-wrapper">
        <!-- CONTENIDO -->
        <section class="main-content">
          <div class="title">
            <h1>CONTRATOS FINALIZADOS</h1>
          </div>
  
          <div class="panel-control">
            <div class="search-bar">
              <input type="text" class="search-input" placeholder="Buscar..." />
              <select name="select" id="select">
                <option value="Cliente">Cliente</option>
                <option value="Equipo">Equipo</option>
              </select>
            </div>
            <a href="/alquileres/crear">+ CREAR</a>
          </div>
          <div class="table-container">
            <table>
              <thead>
                <tr>
                  <th>Cliente</th>
                  <th>Equipo</th>
                  <th>Firma</th>
                  <th>Precio</th>
                  <th>Detalles</th>
                </tr>
              </thead>
              <tbody>
                <% alquileres.forEach(alquiler => { %>
                <tr>
                  <td><%= alquiler.cliente.nombre %></td>
                  <td>
                    <%= alquiler.equipo.marca %>
                    <%= alquiler.equipo.modelo %>
                    <%= alquiler.equipo.numero_serie %>
                  </td>
                  <td><%= alquiler.firma.nombre %></td>
                  <td>$<%= alquiler.equipo.precio %></td>
                  <td>
                    <a href="/alquileres/detalles/<%= alquiler.id %>">Ver más</a>
                  </td>
                </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
        </section>
        <!-- FIN CONTENIDO -->
      </main>
      <!-- FIN MAIN -->
    </div>

    <%- include('../partials/AdminLTEScripts.ejs') %>
  </body>
</html>
