<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/AdminLTEHead.ejs') %>
  <%- include('../partials/AdminLTEHeadTables.ejs') %>
  <!-- <link rel="stylesheet" href="/css/tables.css" /> -->
  <!-- <link rel="stylesheet" href="/css/alquileres.css" /> -->
  <script src="/js/alquileres.js"></script>
  <title>REDNOR - Alquileres</title>
</head>
<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <!-- Navbar -->
    <%- include('../partials/navbar.ejs') %>

    <!-- Main Sidebar -->
    <%- include('../partials/mainSidebar.ejs') %>

    <!-- Control Sidebar -->
    <%- include('../partials/controlSidebar.ejs') %>
    <!-- MAIN -->
    <main class="content-wrapper">
      <section class="content mt-3">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Alquileres Activos</h3>
                </div>
                <div class="card-body">
                  <table id="alquileres" class="table table-bordered table-hover">
                    <thead>
                      <tr>
                        <th>Cliente</th>
                        <th>Equipo</th>
                        <th>Firma</th>
                        <th>Precio</th>
                        <th>Vencimiento</th>
                        <th>Detalles</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% alquileres.forEach(alquiler=> { %>
                        <tr>
                          <td>
                            <%= alquiler.cliente.nombre %>
                          </td>
                          <td>
                            <%= alquiler.equipo.marca %>
                            <%= alquiler.equipo.modelo %>
                            <%= alquiler.equipo.numero_serie %>
                          </td>
                          <td>
                            <%= alquiler.firma %>
                          </td>
                          <td>
                            $<%= alquiler.precio %>
                          </td>
                          <td>
                            <% if (alquiler.fecha_baja !=null) { %>
                              <%= alquiler.fecha_baja.toLocaleString() %>
                              <% } else { %>
                                -
                              <% } %>
                          </td>
                          <td>
                            <a href="/alquileres/detalles/<%= alquiler.id %>">Ver más</a>
                          </td>
                        </tr>
                        <% }) %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- FIN MAIN -->
  </div>

  <%- include('../partials/AdminLTEScripts.ejs') %>
  <%- include('../partials/AdminLTEScriptsTables.ejs') %>
  <script>
    $(function () {
      $("#alquileres").DataTable({
        "responsive": true, "lengthChange": false, "autoWidth": false,
        "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
      }).buttons().container().appendTo('#alquileres_wrapper .col-md-6:eq(0)');
    });
  </script>
</body>
</html>