<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/detalleAlquiler.css" />
    <link rel="stylesheet" href="/css/tables.css">
    <title>REDNOR - Detalle del Alquiler <%= alquiler.id %></title>
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <!-- MAIN -->
    <main class="main-container">
      <!-- ASIDE -->
      <%- include('../partials/aside.ejs') %>
      <!-- FIN ASIDE -->

      <!-- CONTENIDO -->
      <section class="main-content">
        <article class="detalle-alquiler-container">
          <h3>Datos del Alquiler</h3>
          <p style="text-align: center;"><span>Cliente</span></p>
          <p><span>Nombre: </span><%= cliente.nombre %></p>
          <p><span>Email: </span><%= cliente.email %></p>
          <p><span>Telefono: </span><%= cliente.telefono %></p>
          <p><span>Tipo: </span><%= cliente.tipo.nombre %></p>
          <p><a href="/clientes/detalle/<%= cliente.id %>">Ir al Cliente</a></p>
          <br>
          <hr>
          <br>
          <p style="text-align: center;"><span>Equipo</span></p>
          <p><span>Marca: </span><%= equipo.marca %></p>
          <p><span>Modelo: </span><%= equipo.modelo %></p>
          <p><span>Numero de Serie: </span><%= equipo.numero_serie %></p>
          <p><a href="/equipos/detalle/<%= equipo.id %>">Ir al Equipo</a></p>
          <br>
          <hr>
          <br>
          <p><span>Precio: </span>$<%= alquiler.precio %></p>
          <p><span>Minimo de Copias: </span><%= alquiler.minimo_copias %></p>
          <p><span>Precio por copias: </span>$<%= alquiler.precio_copias %></p>
          <p><span>Departamento: </span> <%= alquiler.departamento %></p>
          <p><span>Fecha de Alta del Contrato: </span><%= alquiler.fecha_alta %></p>
          <% if (alquiler.fecha_baja) { %>
            <p>
              <span>Fecha de Vencimiento del Contrato: </span><%= alquiler.fecha_baja %>
            </p>
          <% } %>
          <br>
          
          <% if (alquiler.activo == true) { %>
            <a href="/alquileres/reajuste/<%= alquiler.id %>">Reajustar Contrato</a>
          <% } %>

          <br>
          
          <% if (!alquiler.fecha_baja) { %>
            <form
              action="/alquileres/finalizar/<%= alquiler.id %>?_method=put"
              method="POST"
            >
              <input type="submit" value="Finalizar Contrato" />
            </form>
          <% } %>

        </article>

        <article class="detalle-alquiler-container" id="tabla">
          <div class="table-container">
            <table>
              <thead>
                <tr>
                  <th>Fecha de Reajuste</th>
                  <th>Minimo de Copias</th>
                  <th>Precio por Copias</th>
                  <th>Precio</th>
                </tr>
              </thead>
              <tbody>
                <% reajustes.forEach(reajuste => { %>
                <tr>
                  <td><%= reajuste.fecha_reajuste %></td>
                  <td><%= reajuste.minimo_copias %></td>
                  <td>$<%= reajuste.precio_copias %></td>
                  <td>$<%= reajuste.precio %></td>
                </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
        </article>
      </section>
      <!-- FIN CONTENIDO -->
    </main>
    <!-- FIN MAIN -->
  </body>
</html>
