<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/AdminLTEHead.ejs') %>
    <link rel="stylesheet" href="/css/formulario.css" />
    <link rel="stylesheet" href="/css/registroAlquiler.css">
    <title>REDNOR - Nuevo alquiler</title>
  </head>
  <body class="hold-transition sidebar-mini">
    <div class="wrapper">
      <!-- Navbar -->
      <%- include('../partials/navbar.ejs') %>
      
      <!-- Main Sidebar -->
      <%- include('../partials/mainSidebar.ejs') %>
  
      <!-- Control Sidebar -->
       <%- include('../partials/controlSidebar.ejs') %>
       <!-- MAIN -->
       <main class="content-wrapper">
         <!-- CONTENIDO -->
         <section class="main-content">
           <div class="form-container">
             <p id="registro-mensaje">Reajustar Alquiler</p>
             <h1>
               Alquiler ID: <%= alquiler.id %>
             </h1>
             <form action="/alquileres/reajuste/<%= alquiler.id %>?_method=PUT" method="post">
               <br> <hr> <br>
               <div>
                 <label for="minimo_copias">Minimo de Copias</label>
                 <input type="number" name="minimo_copias" id="minimo_copias" value="<%= locals.old && old.minimo_copias ? old.minimo_copias : alquiler.minimo_copias %>">
                 <% if (locals.errors && errors.minimo_copias) { %>
                  <p class="feedback-errors"><%= errors.minimo_copias.msg %></p>
                 <% } %>
               </div>
   
               <div>
                 <label for="precio_copias">Precio por Copia</label>
                 <input type="number" name="precio_copias" id="precio_copias" step="any" value="<%= locals.old && old.precio_copias ? old.precio_copias : alquiler.precio_copias  %>">
                 <% if (locals.errors && errors.precio_copias) { %>
                  <p class="feedback-errors"><%= errors.precio_copias.msg %></p>
                 <% } %>
               </div>
   
               <br />
   
               <input type="submit" />
             </form>
           </div>
         </section>
         <!-- FIN CONTENIDO -->
       </main>
       <!-- FIN MAIN -->
    </div>

    <%- include('../partials/AdminLTEScripts.ejs') %>
  </body>
</html>
