<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/AdminLTEHead.ejs') %>
  <title>REDNOR - Nuevo alquiler</title>
</head>
<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <!-- Navbar -->
    <%- include('../partials/navbar.ejs') %>
    
    <!-- Main Sidebar -->
    <%- include('../partials/mainSidebar.ejs') %>

    <!-- Control Sidebar -->
    <%- include('../partials/controlSidebar.ejs') %>

    <!-- Main -->
    <main class="content-wrapper">
      <section class="content pt-3">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8 m-auto">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Reajustar Contrato (id: <%= alquiler.id %>)</h3>
                </div>
                <div class="card-body">
                  <form action="/alquileres/reajuste/<%= alquiler.id%>?_method=PUT" method="post">

                    <div class="form-group">
                      <label for="minimo_copias">Minimo de Copias</label>
                      <input type="number" name="minimo_copias" id="minimo_copias" class="form-control" value="<%= locals.old && old.minimo_copias ? old.minimo_copias : alquiler.minimo_copias %>">
                      <% if (locals.errors && errors.minimo_copias) { %>
                        <p class="text-danger mt-2"><%= errors.minimo_copias.msg %></p>
                      <% } %>
                    </div>

                    <div class="form-group">
                      <label for="precio_copias">Precio por Copia</label>
                      <input type="number" name="precio_copias" id="precio_copias" step="any" class="form-control" value="<%= locals.old && old.precio_copias ? old.precio_copias : alquiler.precio_copias  %>">
                      <% if (locals.errors && errors.precio_copias) { %>
                       <p class="text-danger mt-2"><%= errors.precio_copias.msg %></p>
                      <% } %>
                    </div>

                    <div class="form-group">
                      <label for="precio">Precio</label>
                      <input type="number" name="precio" id="precio" step="any" class="form-control" value="<%= locals.old && old.precio ? old.precio : alquiler.precio %>">
                    </div>

                    <input type="submit" class="btn btn-block btn-primary mt-4">
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>

  <%- include('../partials/AdminLTEScripts.ejs') %>
  <!-- Script precio -->
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const inputPrecio = document.getElementById("precio");
      const inputMinimoCopias = document.getElementById("minimo_copias");
      const inputPrecioCopias = document.getElementById("precio_copias");

      function calcularPrecio() {
        const minimoCopias = parseInt(inputMinimoCopias.value) || 0;
        const precioCopias = parseFloat(inputPrecioCopias.value) || 0;

        // Calcular el precio final
        const precioFinal = minimoCopias * precioCopias;

        // Actualizar el valor del input del precio
        inputPrecio.value = precioFinal;
      }

      // Agregar Event Listeners a los inputs 
      inputMinimoCopias.addEventListener("input", calcularPrecio);
      inputPrecioCopias.addEventListener("input", calcularPrecio);
    })
  </script>
</body>
</html>
