<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/Select2Head.ejs') %>
  <%- include('../partials/AdminLTEHead.ejs') %>
  <title>REDNOR - Nuevo alquiler</title>
</head>
<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <!-- Navbar -->
    <%- include('../partials/navbar.ejs') %>
    
    <!-- Main Sidebar -->
    <%- include('../partials/mainSidebar.ejs') %>

    <!-- Control Sidebar -->
    <%- include('../partials/controlSidebar.ejs') %>
    <!-- MAIN -->
    <main class="content-wrapper">
    <section class="content pt-3">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-8 m-auto">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Nuevo Contrato - <%= cliente.nombre %></h3>
              </div>
              <div class="card-body">
                <!-- <form action="/alquileres/crear?cliente=<%# cliente.id %>" method="post" id="form-nuevo-alquiler"> -->
                <form id="form-nuevo-alquiler">
                  
                  <div class="form-group">
                    <label for="id_equipo">Equipo</label>
                    <select name="id_equipo" id="id_equipo" class="form-control select2" style="width: 100%;" >
                      <option value="" selected disabled hidden>Seleccionar un equipo</option>
                      <% equipos.forEach(equipo => { %>
                        <option value="<%= equipo.id %>" <%= locals.old && old.id_equipo == equipo.id ? "selected" : "" %>>
                          <%= equipo.marca%> <%= equipo.modelo %> - <%=
                        equipo.numero_serie %>
                      </option>
                      <% }) %>
                    </select>
                    <% if (locals.errors && errors.id_equipo) { %>
                    <p class="text-danger"><%= errors.id_equipo.msg %></p>
                    <% } %>
                  </div>
        
                  <div class="form-group">
                    <label for="minimo_copias">Minimo de Copias</label>
                    <input type="number" name="minimo_copias" id="minimo_copias" class="form-control" value="<%= locals.old && old.minimo_copias ? old.minimo_copias : "0" %>">
                    <% if (locals.errors && errors.minimo_copias) { %>
                      <p class="text-danger"><%= errors.minimo_copias.msg %></p>
                    <% } %>
                  </div>
        
                  <div class="form-group">
                    <label for="precio_copias">Precio por Copia</label>
                    <input type="number" name="precio_copias" id="precio_copias" class="form-control precios" step="any" value="<%= locals.old && old.precio_copias ? old.precio_copias : "0"  %>">
                    <% if (locals.errors && errors.precio_copias) { %>
                      <p class="text-danger"><%= errors.precio_copias.msg %></p>
                    <% } %>
                  </div>

                  <div class="form-group">
                    <label for="precio">Precio</label>
                    <input type="number" name="precio" id="precio" class="form-control precios" step="any" value="<%= locals.old && old.precio ? old.precio : "0"  %>">
                    <% if (locals.errors && errors.precio) { %>
                     <p class="text-danger"><%= errors.precio.msg %></p>
                    <% } %>
                  </div>
        
                  <div class="form-group">
                    <label for="firma">Firma</label>
                    <select name="firma" id="firma" class="form-control">
                      <option value="" selected hidden disabled>
                        Elegir una opcion
                      </option>
                      <% firmas.forEach(firma => { %>
                      <option value="<%= firma.nombre %>" <%= locals.old && old.firma == firma.nombre ? "selected" : "" %>>
                        <%= firma.nombre %>
                      </option>
                      <% }) %>
                    </select>
                    <% if (locals.errors && errors.firma) { %>
                    <p class="text-danger"><%= errors.firma.msg %></p>
                    <% } %>
                  </div>
        
                  <div class="form-group">
                    <label for="fecha_baja">Fecha de Vencimiento (Opcional):</label>
                    <input type="date" name="fecha_baja" id="fecha_baja" class="form-control">
                  </div> 
                  <hr />
                  <h5>Datos adicionales</h5>
                  <div class="form-group">
                    <label for="numero_facturacion">Numero de Facturacion</label>
                    <input type="number" name="numero_facturacion" id="numero_facturacion" value="<%= locals.old && old.numero_facturacion ? old.numero_facturacion : "" %>" class="form-control">
                  </div>
                  <%# if (locals.errors && errors.numero_facturacion) { %>
                   <!-- <p class="text-danger"><%# errors.numero_facturacion.msg %></p> -->
                  <%# } %>

                  <div class="form-group">
                    <label for="departamento">Departamento</label>
                    <input type="text" name="departamento" id="departamento" class="form-control"
                    value="<%= locals.old && old.departamento ? old.departamento : ""
                    %>" /> <% if (locals.errors && errors.departamento) { %>
                    <p class="text-danger"><%= errors.departamento.msg %></p>
                    <% } %>
                  </div>
                  <br />
                  <input type="submit" class="btn btn-primary w-100" />
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    </main>
    <!-- FIN MAIN -->
  </div>

  <%- include('../partials/AdminLTEScripts.ejs') %>
  <%- include('../partials/Select2Scripts.ejs') %>
  <!-- Script Precio -->
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      console.log("Script precio cargado...");
      const inputPrecio = document.getElementById("precio");
      const inputMinimoCopias = document.getElementById("minimo_copias");
      const inputPrecioPorCopias = document.getElementById("precio_copias");
      
      function calcularPrecio() {
        const minimoCopias = parseInt(inputMinimoCopias.value) || 0;
        const precioCopias = parseFloat(inputPrecioPorCopias.value) || 0;
        // Calcular el precio final
        const precioFinal = minimoCopias * precioCopias;

        // Actualizar el valor del campo de entrada
        inputPrecio.value = precioFinal;
      }
      
      // Agregar event listeners a los campos de entrada
      inputMinimoCopias.addEventListener("input", calcularPrecio);
      inputPrecioPorCopias.addEventListener("input", calcularPrecio);
    })
  </script>

  <!-- Script - Formulario para registrar un nuevo alquiler -->
  <script>
    document.addEventListener("DOMContentLoaded", function (e) {
      const cliente = "<%= cliente.id %>";
      console.log("Cliente: ", cliente);

      const form = document.getElementById("form-nuevo-alquiler");

      form.addEventListener("submit", async function (e) {
        // Prevenir el comportamiento por default del formulario
        e.preventDefault();
        // Cliente
        const idCliente = cliente;
        // Equipo
        const idEquipo = document.getElementById("id_equipo").value;
        // Minimo de copias
        const minimoCopias = document.getElementById("minimo_copias").value || 0;
        // Precio por copias
        const precioCopias = document.getElementById("precio_copias").value || 0;
        // Precio
        const precio = document.getElementById("precio").value || 0;
        // Firma
        const firma = document.getElementById("firma").value;
        // Fecha de vencimiento
        const fechaBaja = document.getElementById("fecha_baja").value;
        // Numero de facturacion
        const numeroFacturacion = document.getElementById("numero_facturacion").value;
        // Departamento
        const departamento = document.getElementById("departamento").value;

        const data = {
          id_cliente: idCliente,
          id_equipo: idEquipo,
          minimo_copias: minimoCopias,
          precio_copias: precioCopias,
          precio: precio,
          firma: firma,
          numero_facturacion: numeroFacturacion,
          departamento: departamento,
        }

        await fetchNuevoAlquiler(idCliente, data);
      })

      // Funcion Fetch para enviar el formulario de creacion de alquiler
      const fetchNuevoAlquiler = async (id, dataNuevoAlquiler) => {
        try {
          const response = await fetch(`/alquileres/crear?cliente=${id}`, {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
              "Accept": "application/json",
  
            },
            body: JSON.stringify(dataNuevoAlquiler)
          });
  
          if (!response.ok) {
            throw new Error("Error fetching data");
          }
  
          const data = await response.json();

          window.location.href = data.url;
        } catch (error) {
          console.log("Error: ", error);
          alert("Error al intentar crear el alquiler: ", error);
        }
      }
    })
  </script>
</body>
</html>
